<style lang="less" scoped>
    @import "..\css\Variables.less";

    .accomplishment {
        border-radius: 5px;
        background: @secondary-color;
        color: @panel-subtitle-color;
        text-align: center;
    }

    .accomplishment-avatar {
        border-radius: 5px 5px 0 0;
    }

    .accomplishment-avatar-image {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
    }

    .accomplishment-avatar-container {
        background-color: white;
        border-radius: 5px 5px 0 0;
        padding: 10px;
    }

    .accomplishment-details {
        padding: 10px 15px;
        font-weight: 500;
    }

    .accomplishment-award {
        font-weight: bold;
        text-transform: uppercase;
        color: @panel-title-color;
    }

    @media @xs-only {
        .accomplishment {
            margin: 0 0 15px;
        }

        .accomplishment-avatar-image {
            height: 150px;
        }

        .accomplishment-details {
            font-size: .9rem;
        }

        .accomplishment-award {
            font-size: 1rem;
        }
    }

    @media @sm-only {
        .accomplishment {
            margin: 0 0 25px;
        }

        .accomplishment-avatar-image {
            height: 200px;
        }

        .accomplishment-award {
            font-size: 1.2rem;
        }
    }

    @media @md-only {
        .accomplishment {
            margin: 0 0 25px;
        }

        .accomplishment-avatar-image {
            height: 250px;
        }

        .accomplishment-award {
            font-size: 1.2rem;
        }
    }

    @media @lg-only {
        .accomplishment {
            margin: 0 0 25px;
        }

        .accomplishment-avatar-image {
            height: 300px;
        }

        .accomplishment-award {
            font-size: 1.2rem;
        }
    }
</style>

<template>
    <div class="accomplishment-container col-xs-12 col-md-6">
        <div v-if="accomplishment.organizationUrl == null" class="accomplishment">
            <div class="accomplishment-avatar">
                <div class="accomplishment-avatar-container">
                    <div :style="'background-image: url(' + accomplishment.organizationAvatarUrl + ')'" class="accomplishment-avatar-image"></div>
                </div>
            </div>
            <div class="accomplishment-details">
                <span class="accomplishment-award">{{accomplishment.award}}</span><br />
                {{accomplishment.organization}}
            </div>
        </div>
        <a v-else :href="accomplishment.organizationUrl" target="_blank" class="link-dark">
            <div class="accomplishment">
                <div class="accomplishment-avatar">
                    <div class="accomplishment-avatar-container">
                        <div :style="'background-image: url(' + accomplishment.organizationAvatarUrl + ')'" class="accomplishment-avatar-image"></div>
                    </div>
                </div>
                <div class="accomplishment-details">
                    <span class="accomplishment-award">{{accomplishment.award}}</span><br />
                    {{accomplishment.organization}}
                </div>
            </div>
        </a>
    </div>
</template>

<script lang="ts" >
    import { Component, Prop, Vue } from "vue-property-decorator";
    import { AccomplishmentEntity } from "@/entities/AccomplishmentEntity";

    @Component
    export default class AccomplishmentPanel extends Vue {
        @Prop() private accomplishment!: AccomplishmentEntity;
    }
</script >
