<style lang="less" scoped>
    @import "..\css\Variables.less";

    .company {
        background: white;
        padding: 10px 15px;
        text-align: center;
        border-radius: 5px;
    }

    .company-title {
        color: @panel-title-color;
        background: @panel-title-background;
        font-weight: bold;
        white-space: nowrap;
        margin: 10px -15px -10px;
        padding: 10px;
        border-radius: 0 0 5px 5px;
    }

    @media @xs-only {
        .company-container {
            margin-bottom: 15px;
        }

        .company-title {
            font-size: 1.2rem;
        }

        .company img {
            width: 120px;
            height: 120px;
        }
    }

    @media @sm-only {
        .company-container {
            margin-bottom: 25px;
        }

        .company-title {
            font-size: 1.3rem;
        }

        .company img {
            width: 150px;
            height: 150px;
        }
    }

    @media @md-only {
        .company-container {
            margin-bottom: 25px;
        }

        .company-title {
            font-size: 1.5rem;
        }

        .company img {
            width: 180px;
            height: 180px;
        }
    }

    @media @lg-only {
        .company-container {
            margin-bottom: 25px;
        }

        .company-title {
            font-size: 1.4rem;
        }

        .company img {
            width: 200px;
            height: 200px;
        }
    }
</style>

<template>
    <div class="col-sm-6 col-lg-4 company-container">
        <router-link class="link-dark" :to="'/experience#employment-' + employment.id">
            <div class="company">
                <img :src="employment.companyAvatarUrl" :alt="employment.company" />
                <div class="company-title">{{employment.company}}</div>
            </div>
        </router-link>
    </div>
</template>

<script lang="ts" >
    import { Component, Prop, Vue } from "vue-property-decorator";
    import { EmploymentEntity } from "@/entities/EmploymentEntity";

    @Component
    export default class CompanyPanel extends Vue {
        @Prop() private employment!: EmploymentEntity;
    }
</script >
