<style lang="less" scoped>
    @import "..\css\Variables.less";

    .project {
        border-radius: 5px;
    }

    .project-background {
        border-radius: 5px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 15px;
        right: 15px;
        background-size: cover;
    }

    .no-padding .project-background {
        left: 0;
        right: 0;
    }

    .project-name {
        border-radius: 5px;
        color: white;
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 15px;
        right: 15px;
        font-weight: bold;
        background: rgba(0, 0, 0, .5);
        transition: .5s;
    }

    .no-padding .project-name {
        left: 0;
        right: 0;
    }

    .project-name:hover {
        background: @secondary-color;
        opacity: .9;
        transition: .5s;
    }

    @media @xs-only {
        .project {
            height: 200px;
        }

        .project-small {
            height: 100px;
        }

        .project-container {
            margin-bottom: 15px;
        }

        .project-name {
            line-height: 200px;
            font-size: 2rem;
        }

        .project-small .project-name {
            line-height: 100px;
            font-size: 1.2rem;
        }
    }

    @media @sm-only {
        .project {
            height: 250px;
        }

        .project-small {
            height: 120px;
        }

        .project-container {
            margin-bottom: 25px;
        }

        .project-name {
            line-height: 250px;
            font-size: 2.5rem;
        }

        .project-small .project-name {
            line-height: 120px;
            font-size: 1.5rem;
        }
    }

    @media @md-at-least {
        .project {
            height: 300px;
        }

        .project-small {
            height: 150px;
        }

        .project-container {
            margin-bottom: 25px;
        }

        .project-name {
            line-height: 300px;
            font-size: 3rem;
        }

        .project-small .project-name {
            line-height: 150px;
            font-size: 2rem;
        }
    }
</style>

<template>
    <div :class="[columnClass, 'project-container']">
        <router-link :to="'/projects#project-' + project.id">
            <div :class="['project', { 'project-small' : isList }]">
                <div class="project-background" :style="'background-image: url(' + project.projectImages[0] + ')'"></div>
                <div class="project-name">{{project.name}}</div>
            </div>
        </router-link>
    </div>
</template>

<script lang="ts" >
    import { Component, Prop, Vue } from "vue-property-decorator";
    import { ProjectEntity } from "@/entities/ProjectEntity";

    @Component
    export default class ProjectPanel extends Vue {
        @Prop() private project!: ProjectEntity;
        @Prop() private columnClass!: string;
        @Prop() private isList!: boolean;
    }
</script >
