<style lang="less" scoped>
    @import "..\css\Variables.less";

    .skill {
        color: white;
        display: inline-block;
        text-align: center;
        border-radius: 5px;
        font-weight: 500;
    }

    .skill-master {
        background: @primary-color;
    }

    .skill-expert {
        background: @secondary-color;
    }

    .skill-journeyman {
        background: @fourth-color;
    }

    .skill-apprentice {
        background: @neutral-background;
    }

    .skill-level {
        background: black;
        opacity: .6;
        border-radius: 0 0 5px 5px;
        padding: 2px 0;
    }

    .skill-level i {
        padding: 0 2px;
        vertical-align: top;
    }

    @media @xs-only {
        .skill {
            font-size: .9rem;
            padding: 0 10px 14px;
            margin: 0 4px 4px 0;
        }

        .skill-level {
            margin: 0 -10px -14px;
            line-height: 7px;
            font-size: 7px;
        }
    }

    @media @sm-only {
        .skill {
            padding: 0 11px 15px;
            margin: 0 5px 5px 0;
        }

        .skill-level {
            margin: 0 -11px -15px;
            line-height: 8px;
            font-size: 8px;
        }
    }

    @media @md-only {
        .skill {
            font-size: 1.1rem;
            padding: 0 12px 16px;
            margin: 0 6px 6px 0;
        }

        .skill-level {
            margin: 0 -12px -16px;
            line-height: 9px;
            font-size: 9px;
        }
    }

    @media @lg-only {
        .skill {
            font-size: 1.2rem;
            padding: 0 13px 19px;
            margin: 0 7px 7px 0;
        }

        .skill-level {
            margin: 2px -13px -19px;
            line-height: 10px;
            font-size: 10px;
        }
    }
</style>

<template>
    <router-link :to="'/skills#skill-' + skill.id">
        <div :class="['skill', {'skill-master' : skill.getExperienceMonths() >= 120}, {'skill-expert' : skill.getExperienceMonths() >= 60 && skill.getExperienceMonths() < 120}, {'skill-journeyman' : skill.getExperienceMonths() >= 24 && skill.getExperienceMonths() < 60}, {'skill-apprentice' : skill.getExperienceMonths() < 24} ]">
            {{skill.name}}
            <div class="skill-level">
                <i v-if="skill.getExperienceMonths() >= 120" class="fa fa-star"></i>
                <i v-if="skill.getExperienceMonths() >= 60" class="fa fa-star"></i>
                <i v-if="skill.getExperienceMonths() >= 24" class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
        </div>
    </router-link>
</template>

<script lang="ts" >
    import { Component, Prop, Vue } from "vue-property-decorator";
    import { SkillEntity } from "@/entities/SkillEntity";

    @Component
    export default class SkillBadge extends Vue {
        @Prop() private skill!: SkillEntity;
    }
</script >
