.animation-none {
    opacity: 0;
    filter: alpha(opacity=0);
}

.animation-fly-from-left {
    opacity: 0;
    filter: alpha(opacity=0);
    position: relative;
    animation-name: FlyFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: FlyFromLeft;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes FlyFromLeft {
    0% {
        left: 1000px;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    100% {
        left: 0px;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@-webkit-keyframes FlyFromLeft /* Safari and Chrome */ {
    0% {
        left: 1000px;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    100% {
        left: 0px;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

.animation-fly-from-right {
    opacity: 0;
    filter: alpha(opacity=0);
    position: relative;
    animation-name: FlyFromRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: FlyFromRight;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes FlyFromRight {
    0% {
        right: 1000px;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    100% {
        right: 0px;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@-webkit-keyframes FlyFromRight /* Safari and Chrome */ {
    0% {
        right: 1000px;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    100% {
        right: 0px;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

.animation-fly-from-top {
    opacity: 0;
    filter: alpha(opacity=0);
    position: relative;
    animation-name: FlyFromTop;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: FlyFromTop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes FlyFromTop {
    0% {
        bottom: 1000px;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    100% {
        bottom: 0px;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@-webkit-keyframes FlyFromTop /* Safari and Chrome */ {
    0% {
        bottom: 1000px;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    100% {
        bottom: 0px;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

.animation-fly-from-bottom {
    opacity: 0;
    filter: alpha(opacity=0);
    position: relative;
    animation-name: FlyFromBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: FlyFromBottom;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes FlyFromBottom {
    0% {
        top: 1000px;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    100% {
        top: 0px;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@-webkit-keyframes FlyFromBottom /* Safari and Chrome */ {
    0% {
        top: 1000px;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    100% {
        top: 0px;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

.animation-crawl-from-left {
    opacity: 0;
    filter: alpha(opacity=0);
    position: relative;
    animation-name: CrawlFromLeft;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: CrawlFromLeft;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes CrawlFromLeft {
    0% {
        left: 1000px;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    100% {
        left: 0px;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@-webkit-keyframes CrawlFromLeft /* Safari and Chrome */ {
    0% {
        left: 1000px;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    100% {
        left: 0px;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

.animation-crawl-from-right {
    opacity: 0;
    filter: alpha(opacity=0);
    position: relative;
    animation-name: CrawlFromRight;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: CrawlFromRight;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes CrawlFromRight {
    0% {
        right: 1000px;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    100% {
        right: 0px;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@-webkit-keyframes CrawlFromRight /* Safari and Chrome */ {
    0% {
        right: 1000px;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    100% {
        right: 0px;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

.animation-crawl-from-top {
    opacity: 0;
    filter: alpha(opacity=0);
    position: relative;
    animation-name: CrawlFromTop;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: CrawlFromTop;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes CrawlFromTop {
    0% {
        bottom: 1000px;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    100% {
        bottom: 0px;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@-webkit-keyframes CrawlFromTop /* Safari and Chrome */ {
    0% {
        bottom: 1000px;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    100% {
        bottom: 0px;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

.animation-crawl-from-bottom {
    opacity: 0;
    filter: alpha(opacity=0);
    position: relative;
    animation-name: CrawlFromBottom;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: CrawlFromBottom;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes CrawlFromBottom {
    0% {
        top: 1000px;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    100% {
        top: 0px;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@-webkit-keyframes CrawlFromBottom /* Safari and Chrome */ {
    0% {
        top: 1000px;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    100% {
        top: 0px;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

.animation-fly-to-left {
    opacity: 1;
    filter: alpha(opacity=100);
    position: relative;
    animation-name: FlyToLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: FlyToLeft;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes FlyToLeft {
    0% {
        left: 0px;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        left: 1000px;
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@-webkit-keyframes FlyToLeft /* Safari and Chrome */ {
    0% {
        left: 0px;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        left: 1000px;
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.animation-fly-to-right {
    opacity: 1;
    filter: alpha(opacity=100);
    position: relative;
    animation-name: FlyToRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: FlyToRight;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes FlyToRight {
    0% {
        right: 0px;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        right: 1000px;
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@-webkit-keyframes FlyToRight /* Safari and Chrome */ {
    0% {
        right: 0px;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        right: 1000px;
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.animation-fly-to-top {
    opacity: 1;
    filter: alpha(opacity=100);
    position: relative;
    animation-name: FlyToTop;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: FlyToTop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes FlyToTop {
    0% {
        bottom: 0px;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        bottom: 1000px;
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@-webkit-keyframes FlyToTop /* Safari and Chrome */ {
    0% {
        bottom: 0px;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        bottom: 1000px;
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.animation-fly-to-bottom {
    opacity: 1;
    filter: alpha(opacity=100);
    position: relative;
    animation-name: FlyToBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: FlyToBottom;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes FlyToBottom {
    0% {
        top: 0px;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        top: 1000px;
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@-webkit-keyframes FlyToBottom /* Safari and Chrome */ {
    0% {
        top: 0px;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        top: 1000px;
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.animation-flash-text {
    opacity: 0;
    filter: alpha(opacity=0);
    animation-name: FlashText;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: FlashText;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes FlashText {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    30% {
        text-shadow: 0 1px 16px #c8c8c8;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        text-shadow: none;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@-webkit-keyframes FlashText /* Safari and Chrome */ {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    30% {
        text-shadow: 0 1px 16px #c8c8c8;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        text-shadow: none;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

.animation-carousel-flash-text {
    opacity: 0;
    filter: alpha(opacity=0);
    animation-name: CarouselFlashText;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: CarouselFlashText;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes CarouselFlashText {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    30% {
        text-shadow: 0 1px 16px #c8c8c8;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@-webkit-keyframes CarouselFlashText /* Safari and Chrome */ {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    30% {
        text-shadow: 0 1px 16px #c8c8c8;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

.animation-flash-text-cycle {
    opacity: 1;
    filter: alpha(opacity=100);
    animation-name: FlashTextCycle;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: FlashTextCycle;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes FlashTextCycle {
    0% {
        text-shadow: none;
    }

    75% {
        text-shadow: none;
    }

    100% {
        text-shadow: 0 1px 16px #c8c8c8;
    }
}

@-webkit-keyframes FlashTextCycle /* Safari and Chrome */ {
    0% {
        text-shadow: none;
    }

    75% {
        text-shadow: none;
    }

    100% {
        text-shadow: 0 1px 16px #c8c8c8;
    }
}

.animation-carousel-flash-text-cycle {
    opacity: 1;
    filter: alpha(opacity=100);
    animation-name: CarouselFlashTextcycle;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    /* Safari and Chrome: */
    -webkit-animation-name: CarouselFlashTextcycle;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

@keyframes CarouselFlashTextcycle {
    0% {
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    }

    75% {
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    }

    100% {
        text-shadow: 0 1px 16px #c8c8c8;
    }
}

@-webkit-keyframes CarouselFlashTextcycle /* Safari and Chrome */ {
    0% {
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    }

    75% {
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    }

    100% {
        text-shadow: 0 1px 16px #c8c8c8;
    }
}

.animation-flash-object {
    opacity: 0;
    filter: alpha(opacity=0);
    animation-name: FlashObject;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: FlashObject;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes FlashObject {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    30% {
        box-shadow: 0 1px 20px #c8c8c8;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        box-shadow: none;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@-webkit-keyframes FlashObject /* Safari and Chrome */ {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    30% {
        box-shadow: 0 1px 20px #c8c8c8;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        box-shadow: none;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

.animation-flash-object-shadow {
    opacity: 0;
    filter: alpha(opacity=0);
    animation-name: FlashObjectShadow;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: FlashObjectShadow;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes FlashObjectShadow {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    30% {
        box-shadow: 0 1px 20px #c8c8c8;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        box-shadow: 2px 2px 6px #888888;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@-webkit-keyframes FlashObjectShadow /* Safari and Chrome */ {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    30% {
        box-shadow: 0 1px 20px #c8c8c8;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        box-shadow: 2px 2px 6px #888888;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

.animation-flash-object-cycle {
    opacity: 1;
    filter: alpha(opacity=100);
    animation-name: FlashObjectCycle;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    /* Safari and Chrome: */
    -webkit-animation-name: FlashObjectCycle;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

@keyframes FlashObjectCycle {
    0% {
        box-shadow: none;
    }

    75% {
        box-shadow: none;
    }

    100% {
        box-shadow: 0 1px 20px #c8c8c8;
    }
}

@-webkit-keyframes FlashObjectCycle /* Safari and Chrome */ {
    0% {
        box-shadow: none;
    }

    75% {
        box-shadow: none;
    }

    100% {
        box-shadow: 0 1px 20px #c8c8c8;
    }
}

.animation-flash-object-cycle-shadow {
    opacity: 1;
    filter: alpha(opacity=100);
    animation-name: FlashObjectCycleShadow;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    /* Safari and Chrome: */
    -webkit-animation-name: FlashObjectCycleShadow;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

@keyframes FlashObjectCycleShadow {
    0% {
        box-shadow: 2px 2px 6px #888888;
    }

    75% {
        box-shadow: 2px 2px 6px #888888;
    }

    100% {
        box-shadow: 0 1px 20px #c8c8c8;
    }
}

@-webkit-keyframes FlashObjectCycleShadow /* Safari and Chrome */ {
    0% {
        box-shadow: 2px 2px 6px #888888;
    }

    75% {
        box-shadow: 2px 2px 6px #888888;
    }

    100% {
        box-shadow: 0 1px 20px #c8c8c8;
    }
}

.animation-fade-in {
    opacity: 0;
    filter: alpha(opacity=0);
    animation-name: FadeIn;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: FadeIn;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

.animation-fade-in-cycle {
    opacity: 0;
    filter: alpha(opacity=0);
    animation-name: FadeIn;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: FadeIn;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    100% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@-webkit-keyframes FadeIn /* Safari and Chrome */ {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    100% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

.animation-fade-in-grow {
    opacity: 0;
    filter: alpha(opacity=0);
    animation-name: FadeInGrow;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: FadeInGrow;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes FadeInGrow {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    1% {
        transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        -o-transform: scale(0.1, 0.1);
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    80% {
        transform: scale(1.5, 1.5);
        -ms-transform: scale(1.5, 1.5);
        -webkit-transform: scale(1.5, 1.5);
        -o-transform: scale(1.5, 1.5);
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@-webkit-keyframes FadeInGrow /* Safari and Chrome */ {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    1% {
        transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        -o-transform: scale(0.1, 0.1);
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    80% {
        transform: scale(1.5, 1.5);
        -ms-transform: scale(1.5, 1.5);
        -webkit-transform: scale(1.5, 1.5);
        -o-transform: scale(1.5, 1.5);
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

.animation-fade-out {
    opacity: 1;
    filter: alpha(opacity=100);
    animation-name: FadeOut;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: FadeOut;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes FadeOut {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@-webkit-keyframes FadeOut /* Safari and Chrome */ {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.animation-fade-out-shrink {
    opacity: 1;
    filter: alpha(opacity=100);
    animation-name: FadeOutShrink;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: FadeOutShrink;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes FadeOutShrink {
    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    99% {
        transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        -o-transform: scale(0.1, 0.1);
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    20% {
        transform: scale(1.5, 1.5);
        -ms-transform: scale(1.5, 1.5);
        -webkit-transform: scale(1.5, 1.5);
        -o-transform: scale(1.5, 1.5);
        opacity: 1;
        filter: alpha(opacity=100);
    }

    0% {
        transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@-webkit-keyframes FadeOutShrink /* Safari and Chrome */ {
    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    99% {
        transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        -o-transform: scale(0.1, 0.1);
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    20% {
        transform: scale(1.5, 1.5);
        -ms-transform: scale(1.5, 1.5);
        -webkit-transform: scale(1.5, 1.5);
        -o-transform: scale(1.5, 1.5);
        opacity: 1;
        filter: alpha(opacity=100);
    }

    0% {
        transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

.animation-rotate-left {
    opacity: 1;
    filter: alpha(opacity=100);
    position: relative;
    animation-name: RotateLeft;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: RotateLeft;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes RotateLeft {
    0% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }

    100% {
        transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
    }
}

@-webkit-keyframes RotateLeft /* Safari and Chrome */ {
    0% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }

    100% {
        transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
    }
}

.animation-rotate-right {
    opacity: 1;
    filter: alpha(opacity=100);
    position: relative;
    animation-name: RotateRight;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: RotateRight;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes RotateRight {
    0% {
        transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@-webkit-keyframes RotateRight /* Safari and Chrome */ {
    0% {
        transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

.animation-grow-up {
    opacity: 0;
    filter: alpha(opacity=0);
    position: relative;
    animation-name: GrowUp;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: GrowUp;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes GrowUp {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: 50% bottom;
        -ms-transform-origin: 50% bottom;
        -webkit-transform-origin: 50% bottom;
        -o-transform-origin: 50% bottom;
        transform: scale(1, 0) translate(0%, 50%);
        -ms-transform: scale(1, 0) translate(0%, 50%);
        -webkit-transform: scale(1, 0) translate(0%, 50%);
        -o-transform: scale(1, 0) translate(0%, 50%);
    }

    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: 50% bottom;
        -ms-transform-origin: 50% bottom;
        -webkit-transform-origin: 50% bottom;
        -o-transform-origin: 50% bottom;
        transform: scale(1, 1) translate(0%, 0%);
        -ms-transform: scale(1, 1) translate(0%, 0%);
        -webkit-transform: scale(1, 1) translate(0%, 0%);
        -o-transform: scale(1, 1) translate(0%, 0%);
    }
}

@-webkit-keyframes GrowUp /* Safari and Chrome */ {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: 50% bottom;
        -ms-transform-origin: 50% bottom;
        -webkit-transform-origin: 50% bottom;
        -o-transform-origin: 50% bottom;
        transform: scale(1, 0) translate(0%, 50%);
        -ms-transform: scale(1, 0) translate(0%, 50%);
        -webkit-transform: scale(1, 0) translate(0%, 50%);
        -o-transform: scale(1, 0) translate(0%, 50%);
    }

    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: 50% bottom;
        -ms-transform-origin: 50% bottom;
        -webkit-transform-origin: 50% bottom;
        -o-transform-origin: 50% bottom;
        transform: scale(1, 1) translate(0%, 0%);
        -ms-transform: scale(1, 1) translate(0%, 0%);
        -webkit-transform: scale(1, 1) translate(0%, 0%);
        -o-transform: scale(1, 1) translate(0%, 0%);
    }
}

.animation-grow-down {
    opacity: 0;
    filter: alpha(opacity=0);
    position: relative;
    animation-name: GrowDown;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: GrowDown;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes GrowDown {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: 50% top;
        -ms-transform-origin: 50% top;
        -webkit-transform-origin: 50% top;
        -o-transform-origin: 50% top;
        transform: scale(1, 0) translate(0%, 50%);
        -ms-transform: scale(1, 0) translate(0%, 50%);
        -webkit-transform: scale(1, 0) translate(0%, 50%);
        -o-transform: scale(1, 0) translate(0%, 50%);
    }

    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: 50% top;
        -ms-transform-origin: 50% top;
        -webkit-transform-origin: 50% top;
        -o-transform-origin: 50% top;
        transform: scale(1, 1) translate(0%, 0%);
        -ms-transform: scale(1, 1) translate(0%, 0%);
        -webkit-transform: scale(1, 1) translate(0%, 0%);
        -o-transform: scale(1, 1) translate(0%, 0%);
    }
}

@-webkit-keyframes GrowDown /* Safari and Chrome */ {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: 50% top;
        -ms-transform-origin: 50% top;
        -webkit-transform-origin: 50% top;
        -o-transform-origin: 50% top;
        transform: scale(1, 0) translate(0%, 50%);
        -ms-transform: scale(1, 0) translate(0%, 50%);
        -webkit-transform: scale(1, 0) translate(0%, 50%);
        -o-transform: scale(1, 0) translate(0%, 50%);
    }

    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: 50% top;
        -ms-transform-origin: 50% top;
        -webkit-transform-origin: 50% top;
        -o-transform-origin: 50% top;
        transform: scale(1, 1) translate(0%, 0%);
        -ms-transform: scale(1, 1) translate(0%, 0%);
        -webkit-transform: scale(1, 1) translate(0%, 0%);
        -o-transform: scale(1, 1) translate(0%, 0%);
    }
}

.animation-grow-left {
    opacity: 0;
    filter: alpha(opacity=0);
    position: relative;
    animation-name: GrowLeft;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: GrowLeft;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes GrowLeft {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: right 50%;
        -ms-transform-origin: right 50%;
        -webkit-transform-origin: right 50%;
        -o-transform-origin: right 50%;
        transform: scale(0, 1) translate(50%, 0%);
        -ms-transform: scale(0, 1) translate(50%, 0%);
        -webkit-transform: scale(0, 1) translate(50%, 0%);
        -o-transform: scale(0, 1) translate(50%, 0%);
    }

    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: right 50%;
        -ms-transform-origin: right 50%;
        -webkit-transform-origin: right 50%;
        -o-transform-origin: right 50%;
        transform: scale(1, 1) translate(0%, 0%);
        -ms-transform: scale(1, 1) translate(0%, 0%);
        -webkit-transform: scale(1, 1) translate(0%, 0%);
        -o-transform: scale(1, 1) translate(0%, 0%);
    }
}

@-webkit-keyframes GrowLeft /* Safari and Chrome */ {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: right 50%;
        -ms-transform-origin: right 50%;
        -webkit-transform-origin: right 50%;
        -o-transform-origin: right 50%;
        transform: scale(0, 1) translate(50%, 0%);
        -ms-transform: scale(0, 1) translate(50%, 0%);
        -webkit-transform: scale(0, 1) translate(50%, 0%);
        -o-transform: scale(0, 1) translate(50%, 0%);
    }

    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: right 50%;
        -ms-transform-origin: right 50%;
        -webkit-transform-origin: right 50%;
        -o-transform-origin: right 50%;
        transform: scale(1, 1) translate(0%, 0%);
        -ms-transform: scale(1, 1) translate(0%, 0%);
        -webkit-transform: scale(1, 1) translate(0%, 0%);
        -o-transform: scale(1, 1) translate(0%, 0%);
    }
}

.animation-grow-right {
    opacity: 0;
    filter: alpha(opacity=0);
    position: relative;
    animation-name: GrowRight;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: GrowRight;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes GrowRight {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: left 50%;
        -ms-transform-origin: left 50%;
        -webkit-transform-origin: left 50%;
        -o-transform-origin: left 50%;
        transform: scale(0, 1) translate(50%, 0%);
        -ms-transform: scale(0, 1) translate(50%, 0%);
        -webkit-transform: scale(0, 1) translate(50%, 0%);
        -o-transform: scale(0, 1) translate(50%, 0%);
    }

    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: left 50%;
        -ms-transform-origin: left 50%;
        -webkit-transform-origin: left 50%;
        -o-transform-origin: left 50%;
        transform: scale(1, 1) translate(0%, 0%);
        -ms-transform: scale(1, 1) translate(0%, 0%);
        -webkit-transform: scale(1, 1) translate(0%, 0%);
        -o-transform: scale(1, 1) translate(0%, 0%);
    }
}

@-webkit-keyframes GrowRight /* Safari and Chrome */ {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: left 50%;
        -ms-transform-origin: left 50%;
        -webkit-transform-origin: left 50%;
        -o-transform-origin: left 50%;
        transform: scale(0, 1) translate(50%, 0%);
        -ms-transform: scale(0, 1) translate(50%, 0%);
        -webkit-transform: scale(0, 1) translate(50%, 0%);
        -o-transform: scale(0, 1) translate(50%, 0%);
    }

    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: left 50%;
        -ms-transform-origin: left 50%;
        -webkit-transform-origin: left 50%;
        -o-transform-origin: left 50%;
        transform: scale(1, 1) translate(0%, 0%);
        -ms-transform: scale(1, 1) translate(0%, 0%);
        -webkit-transform: scale(1, 1) translate(0%, 0%);
        -o-transform: scale(1, 1) translate(0%, 0%);
    }
}

.animation-shrink-up {
    opacity: 1;
    filter: alpha(opacity=100);
    position: relative;
    animation-name: ShrinkUp;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: ShrinkUp;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes ShrinkUp {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: 50% top;
        -ms-transform-origin: 50% top;
        -webkit-transform-origin: 50% top;
        -o-transform-origin: 50% top;
        transform: scale(1, 1) translate(0%, 0%);
        -ms-transform: scale(1, 1) translate(0%, 0%);
        -webkit-transform: scale(1, 1) translate(0%, 0%);
        -o-transform: scale(1, 1) translate(0%, 0%);
    }

    99% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: 50% top;
        -ms-transform-origin: 50% top;
        -webkit-transform-origin: 50% top;
        -o-transform-origin: 50% top;
        transform: scale(1, 0) translate(0%, 50%);
        -ms-transform: scale(1, 0) translate(0%, 50%);
        -webkit-transform: scale(1, 0) translate(0%, 50%);
        -o-transform: scale(1, 0) translate(0%, 50%);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@-webkit-keyframes ShrinkUp /* Safari and Chrome */ {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: 50% top;
        -ms-transform-origin: 50% top;
        -webkit-transform-origin: 50% top;
        -o-transform-origin: 50% top;
        transform: scale(1, 1) translate(0%, 0%);
        -ms-transform: scale(1, 1) translate(0%, 0%);
        -webkit-transform: scale(1, 1) translate(0%, 0%);
        -o-transform: scale(1, 1) translate(0%, 0%);
    }

    99% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: 50% top;
        -ms-transform-origin: 50% top;
        -webkit-transform-origin: 50% top;
        -o-transform-origin: 50% top;
        transform: scale(1, 0) translate(0%, 50%);
        -ms-transform: scale(1, 0) translate(0%, 50%);
        -webkit-transform: scale(1, 0) translate(0%, 50%);
        -o-transform: scale(1, 0) translate(0%, 50%);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.animation-shrink-down {
    opacity: 1;
    filter: alpha(opacity=100);
    position: relative;
    animation-name: ShrinkDown;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: ShrinkDown;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes ShrinkDown {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: 50% bottom;
        -ms-transform-origin: 50% bottom;
        -webkit-transform-origin: 50% bottom;
        -o-transform-origin: 50% bottom;
        transform: scale(1, 1) translate(0%, 0%);
        -ms-transform: scale(1, 1) translate(0%, 0%);
        -webkit-transform: scale(1, 1) translate(0%, 0%);
        -o-transform: scale(1, 1) translate(0%, 0%);
    }

    99% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: 50% bottom;
        -ms-transform-origin: 50% bottom;
        -webkit-transform-origin: 50% bottom;
        -o-transform-origin: 50% bottom;
        transform: scale(1, 0) translate(0%, 50%);
        -ms-transform: scale(1, 0) translate(0%, 50%);
        -webkit-transform: scale(1, 0) translate(0%, 50%);
        -o-transform: scale(1, 0) translate(0%, 50%);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@-webkit-keyframes ShrinkDown /* Safari and Chrome */ {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: 50% bottom;
        -ms-transform-origin: 50% bottom;
        -webkit-transform-origin: 50% bottom;
        -o-transform-origin: 50% bottom;
        transform: scale(1, 1) translate(0%, 0%);
        -ms-transform: scale(1, 1) translate(0%, 0%);
        -webkit-transform: scale(1, 1) translate(0%, 0%);
        -o-transform: scale(1, 1) translate(0%, 0%);
    }

    99% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: 50% bottom;
        -ms-transform-origin: 50% bottom;
        -webkit-transform-origin: 50% bottom;
        -o-transform-origin: 50% bottom;
        transform: scale(1, 0) translate(0%, 50%);
        -ms-transform: scale(1, 0) translate(0%, 50%);
        -webkit-transform: scale(1, 0) translate(0%, 50%);
        -o-transform: scale(1, 0) translate(0%, 50%);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.animation-shrink-left {
    opacity: 1;
    filter: alpha(opacity=100);
    position: relative;
    animation-name: ShrinkLeft;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: ShrinkLeft;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes ShrinkLeft {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: 50% left;
        -ms-transform-origin: 50% left;
        -webkit-transform-origin: 50% left;
        -o-transform-origin: 50% left;
        transform: scale(1, 1) translate(0%, 0%);
        -ms-transform: scale(1, 1) translate(0%, 0%);
        -webkit-transform: scale(1, 1) translate(0%, 0%);
        -o-transform: scale(1, 1) translate(0%, 0%);
    }

    99% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: 50% left;
        -ms-transform-origin: 50% left;
        -webkit-transform-origin: 50% left;
        -o-transform-origin: 50% left;
        transform: scale(0, 1) translate(50%, 0%);
        -ms-transform: scale(0, 1) translate(50%, 0%);
        -webkit-transform: scale(0, 1) translate(50%, 0%);
        -o-transform: scale(0, 1) translate(50%, 0%);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@-webkit-keyframes ShrinkLeft /* Safari and Chrome */ {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: 50% left;
        -ms-transform-origin: 50% left;
        -webkit-transform-origin: 50% left;
        -o-transform-origin: 50% left;
        transform: scale(1, 1) translate(0%, 0%);
        -ms-transform: scale(1, 1) translate(0%, 0%);
        -webkit-transform: scale(1, 1) translate(0%, 0%);
        -o-transform: scale(1, 1) translate(0%, 0%);
    }

    99% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: 50% left;
        -ms-transform-origin: 50% left;
        -webkit-transform-origin: 50% left;
        -o-transform-origin: 50% left;
        transform: scale(0, 1) translate(50%, 0%);
        -ms-transform: scale(0, 1) translate(50%, 0%);
        -webkit-transform: scale(0, 1) translate(50%, 0%);
        -o-transform: scale(0, 1) translate(50%, 0%);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.animation-shrink-right {
    opacity: 1;
    filter: alpha(opacity=100);
    position: relative;
    animation-name: ShrinkRight;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: ShrinkRight;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes ShrinkRight {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: 50% left;
        -ms-transform-origin: 50% left;
        -webkit-transform-origin: 50% left;
        -o-transform-origin: 50% left;
        transform: scale(1, 1) translate(0%, 0%);
        -ms-transform: scale(1, 1) translate(0%, 0%);
        -webkit-transform: scale(1, 1) translate(0%, 0%);
        -o-transform: scale(1, 1) translate(0%, 0%);
    }

    99% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: 50% left;
        -ms-transform-origin: 50% left;
        -webkit-transform-origin: 50% left;
        -o-transform-origin: 50% left;
        transform: scale(0, 1) translate(50%, 0%);
        -ms-transform: scale(0, 1) translate(50%, 0%);
        -webkit-transform: scale(0, 1) translate(50%, 0%);
        -o-transform: scale(0, 1) translate(50%, 0%);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@-webkit-keyframes ShrinkRight /* Safari and Chrome */ {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: 50% left;
        -ms-transform-origin: 50% left;
        -webkit-transform-origin: 50% left;
        -o-transform-origin: 50% left;
        transform: scale(1, 1) translate(0%, 0%);
        -ms-transform: scale(1, 1) translate(0%, 0%);
        -webkit-transform: scale(1, 1) translate(0%, 0%);
        -o-transform: scale(1, 1) translate(0%, 0%);
    }

    99% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform-origin: 50% left;
        -ms-transform-origin: 50% left;
        -webkit-transform-origin: 50% left;
        -o-transform-origin: 50% left;
        transform: scale(0, 1) translate(50%, 0%);
        -ms-transform: scale(0, 1) translate(50%, 0%);
        -webkit-transform: scale(0, 1) translate(50%, 0%);
        -o-transform: scale(0, 1) translate(50%, 0%);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.animation-throb-fast {
    opacity: 1;
    filter: alpha(opacity=100);
    position: relative;
    animation-name: Throb;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: Throb;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

.animation-throb-slow {
    opacity: 1;
    filter: alpha(opacity=100);
    position: relative;
    animation-name: Throb;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: Throb;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes Throb {
    0% {
        transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -o-transform: scale(1, 1);
    }

    100% {
        transform: scale(0.7, 0.7);
        -ms-transform: scale(0.7, 0.7);
        -webkit-transform: scale(0.7, 0.7);
        -o-transform: scale(0.7, 0.7);
    }
}

@-webkit-keyframes Throb /* Safari and Chrome */ {
    0% {
        transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -o-transform: scale(1, 1);
    }

    100% {
        transform: scale(0.7, 0.7);
        -ms-transform: scale(0.7, 0.7);
        -webkit-transform: scale(0.7, 0.7);
        -o-transform: scale(0.7, 0.7);
    }
}

.animation-throb-fast-big {
    opacity: 1;
    filter: alpha(opacity=100);
    position: relative;
    animation-name: ThrobBig;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: ThrobBig;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

.animation-throb-slow-big {
    opacity: 1;
    filter: alpha(opacity=100);
    position: relative;
    animation-name: ThrobBig;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: ThrobBig;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes ThrobBig {
    0% {
        transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -o-transform: scale(1, 1);
    }

    100% {
        transform: scale(0.5, 0.5);
        -ms-transform: scale(0.5, 0.5);
        -webkit-transform: scale(0.5, 0.5);
        -o-transform: scale(0.5, 0.5);
    }
}

@-webkit-keyframes ThrobBig /* Safari and Chrome */ {
    0% {
        transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -o-transform: scale(1, 1);
    }

    100% {
        transform: scale(0.5, 0.5);
        -ms-transform: scale(0.5, 0.5);
        -webkit-transform: scale(0.5, 0.5);
        -o-transform: scale(0.5, 0.5);
    }
}

.animation-blink-fast {
    opacity: 1;
    filter: alpha(opacity=100);
    position: relative;
    animation-name: Blink;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: Blink;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

.animation-blink-slow {
    opacity: 1;
    filter: alpha(opacity=100);
    position: relative;
    animation-name: Blink;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: Blink;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes Blink {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
}

@-webkit-keyframes Blink /* Safari and Chrome */ {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
}

.animation-fall-slow {
    position: absolute;
    animation-name: FallSlow;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: FallSlow;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes FallSlow {
    0% {
        bottom: 120%;
    }

    100% {
        bottom: 0;
    }
}

@-webkit-keyframes FallSlow /* Safari and Chrome */ {
    0% {
        bottom: 120%;
    }

    100% {
        bottom: 0;
    }
}

.animation-fall-slow-drift-right-2 {
    position: absolute;
    animation-name: FallSlowDriftRight2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: FallSlowDriftRight2;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes FallSlowDriftRight2 {
    0% {
        bottom: 120%;
        left: -2%;
    }

    100% {
        bottom: 0;
        left: 0;
    }
}

@-webkit-keyframes FallSlowDriftRight2 /* Safari and Chrome */ {
    0% {
        bottom: 120%;
        left: -2%;
    }

    100% {
        bottom: 0;
        left: 0;
    }
}

.animation-fall-slow-drift-right-5 {
    position: absolute;
    animation-name: FallSlowDriftRight5;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: FallSlowDriftRight5;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes FallSlowDriftRight5 {
    0% {
        bottom: 120%;
        left: -5%;
    }

    100% {
        bottom: 0;
        left: 0;
    }
}

@-webkit-keyframes FallSlowDriftRight5 /* Safari and Chrome */ {
    0% {
        bottom: 120%;
        left: -5%;
    }

    100% {
        bottom: 0;
        left: 0;
    }
}

.animation-fall-slow-drift-right-9 {
    position: absolute;
    animation-name: FallSlowDriftRight9;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: FallSlowDriftRight9;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes FallSlowDriftRight9 {
    0% {
        bottom: 120%;
        left: -9%;
    }

    100% {
        bottom: 0;
        left: 0;
    }
}

@-webkit-keyframes FallSlowDriftRight9 /* Safari and Chrome */ {
    0% {
        bottom: 120%;
        left: -9%;
    }

    100% {
        bottom: 0;
        left: 0;
    }
}

.animation-fall-slow-drift-left-2 {
    position: absolute;
    animation-name: FallSlowDriftLeft2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: FallSlowDriftLeft2;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes FallSlowDriftLeft2 {
    0% {
        bottom: 120%;
        left: 2%;
    }

    100% {
        bottom: 0;
        left: 0;
    }
}

@-webkit-keyframes FallSlowDriftLeft2 /* Safari and Chrome */ {
    0% {
        bottom: 120%;
        left: 2%;
    }

    100% {
        bottom: 0;
        left: 0;
    }
}

.animation-fall-slow-drift-left-5 {
    position: absolute;
    animation-name: FallSlowDriftLeft5;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: FallSlowDriftLeft5;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes FallSlowDriftLeft5 {
    0% {
        bottom: 120%;
        left: 5%;
    }

    100% {
        bottom: 0;
        left: 0;
    }
}

@-webkit-keyframes FallSlowDriftLeft5 /* Safari and Chrome */ {
    0% {
        bottom: 120%;
        left: 5%;
    }

    100% {
        bottom: 0;
        left: 0;
    }
}

.animation-fall-slow-drift-left-9 {
    position: absolute;
    animation-name: FallSlowDriftLeft9;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    /* Safari and Chrome: */
    -webkit-animation-name: FallSlowDriftLeft9;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes FallSlowDriftLeft9 {
    0% {
        bottom: 120%;
        left: 9%;
    }

    100% {
        bottom: 0;
        left: 0;
    }
}

@-webkit-keyframes FallSlowDriftLeft9 /* Safari and Chrome */ {
    0% {
        bottom: 120%;
        left: 9%;
    }

    100% {
        bottom: 0;
        left: 0;
    }
}
