﻿@import "Libraries/Animation.less";

@import "Layouts/Main.less";

@import "Views/Home.less";
@import "Views/NotFound.less";
@import "Views/Experience.less";
@import "Views/Projects.less";
@import "Views/Skills.less";

@import "Components/CompanyPanel.less";
@import "Components/ProjectPanel.less";
@import "Components/SkillBadge.less";
@import "Components/AccomplishmentPanel.less";

html, body, app {
    height: 100%;
}

app, footer {
    min-width: @min-width;
}