﻿@import "..\Variables.less";

.experience-view {
    .employment {
        border-radius: 5px;
        color: @panel-subtitle-color
    }

    .employment-bar {
        height: 5px;
        background-color: @third-color;
        margin: 0 15px;
    }

    .employment-info {
        padding: 10px 0;
        margin: 0;
        border-radius: 5px 5px 0 0;
    }

    .employment-info-avatar {
        margin-right: -15px;
    }

    .employment-info-avatar img {
        border: 2px solid white;
    }

    .employment-info-title {
        font-weight: 800;
        color: @third-color;
    }

    .employment-info-company a {
        color: @panel-title-color;
    }

    .employment-info-dates, .employment-info-location, .employment-info-company {
        font-weight: bold;
        color: @panel-subtitle-color;
    }

    .employment-details {
        padding: 0 15px 15px;
        font-weight: 500;
    }

    .employment-details-title {
        color: @fourth-color;
        font-weight: bold;
        text-transform: uppercase;
        margin: 15px 0 5px;
    }

    .employment-responsibilities {
        padding-left: 20px;
    }

    @media @xs-only {
        .employment-container {
            margin-top: 15px;
        }

        .employment-info-title {
            font-size: 1rem;
        }

        .employment-info-avatar {
            display: none;
        }

        .employment-info-dates, .employment-info-location, .employment-responsibilities, .badge {
            font-size: .9rem;
        }
    }

    @media @sm-only {
        .employment-container {
            margin-top: 25px;
        }

        .employment-info-title {
            font-size: 1.2rem;
        }

        .employment-info-avatar img {
            width: 105px;
            height: 105px;
        }

        .employment-details-title {
            font-size: 1.2rem;
        }
    }

    @media @md-at-least {
        .employment-container {
            margin-top: 25px;
        }

        .employment-info-title {
            font-size: 1.5rem;
        }

        .employment-info-avatar img {
            width: 115px;
            height: 115px;
        }

        .employment-details-title {
            font-size: 1.4rem;
        }
    }
}