﻿@import "..\Variables.less";
@import "..\Libraries\Animation.less";

@media @xs-only {
    .home-view {
        margin-top: -80px;
    }
}

@media @sm-at-least {
    .home-view {
        margin-top: -100px;
    }
}

.home-view {
    .objective {
        color: white;
        font-weight: 500;
        max-width: 1000px;
        margin: auto;
        text-align: center;
    }

    .objective-text {
        opacity: 0;
        position: absolute;
        left: 5%;
        right: 5%;
    }

    .objective-text-lg {
        top: 40%;
    }

    .objective-text-sm {
        top: 40%;
    }

    .objective-1 {
        animation-name: FadeInAndOut;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-play-state: running;
        animation-fill-mode: forwards;
        animation-delay: 1s;
        /* Safari and Chrome: */
        -webkit-animation-name: FadeInAndOut;
        -webkit-animation-duration: 4s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-direction: normal;
        -webkit-animation-play-state: running;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-delay: 1s;
    }

    .objective-2 {
        animation-name: FadeInAndOut;
        animation-duration: 6s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-play-state: running;
        animation-fill-mode: forwards;
        animation-delay: 5s;
        /* Safari and Chrome: */
        -webkit-animation-name: FadeInAndOut;
        -webkit-animation-duration: 6s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-direction: normal;
        -webkit-animation-play-state: running;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-delay: 5s;
    }

    .objective-3 {
        animation-name: FadeIn;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-play-state: running;
        animation-fill-mode: forwards;
        animation-delay: 11s;
        /* Safari and Chrome: */
        -webkit-animation-name: FadeIn;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-direction: normal;
        -webkit-animation-play-state: running;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-delay: 11s;
    }

    .objective-4 {
        top: 50%;
        animation-name: FadeIn;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-play-state: running;
        animation-fill-mode: forwards;
        animation-delay: 13s;
        /* Safari and Chrome: */
        -webkit-animation-name: FadeIn;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-direction: normal;
        -webkit-animation-play-state: running;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-delay: 13s;
    }

    .objective-5 {
        top: 60%;
        animation-name: FadeIn;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-play-state: running;
        animation-fill-mode: forwards;
        animation-delay: 15s;
        /* Safari and Chrome: */
        -webkit-animation-name: FadeIn;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-direction: normal;
        -webkit-animation-play-state: running;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-delay: 15s;
    }

    @keyframes FadeInAndOut {
        0% {
            opacity: 0;
            filter: alpha(opacity=0);
        }

        20% {
            opacity: 1;
            filter: alpha(opacity=100);
        }

        80% {
            opacity: 1;
            filter: alpha(opacity=100);
        }

        0% {
            opacity: 0;
            filter: alpha(opacity=0);
        }
    }

    @-webkit-keyframes FadeInAndOut /* Safari and Chrome */ {
        0% {
            opacity: 0;
            filter: alpha(opacity=0);
        }

        20% {
            opacity: 1;
            filter: alpha(opacity=100);
        }

        80% {
            opacity: 1;
            filter: alpha(opacity=100);
        }

        0% {
            opacity: 0;
            filter: alpha(opacity=0);
        }
    }

    @media @xs-only {
        .objective {
            height: 450px;
        }

        .objective-text-sm {
            font-size: 1.4rem;
        }

        .objective-text-lg {
            font-size: 2.8rem;
        }
    }

    @media @sm-only {
        .objective {
            height: 500px;
        }

        .objective-text-sm {
            font-size: 1.6rem;
        }

        .objective-text-lg {
            font-size: 3.2rem;
        }
    }

    @media @md-only {
        .objective {
            height: 550px;
        }

        .objective-text-sm {
            font-size: 1.8rem;
        }

        .objective-text-lg {
            font-size: 3.6rem;
        }
    }

    @media @lg-only {
        .objective {
            height: 600px;
        }

        .objective-text-sm {
            font-size: 2rem;
        }

        .objective-text-lg {
            font-size: 4rem;
        }
    }

    .landing-background {
        background-image: url(/images/knex-wall.jpg);
        background-size: cover;
        background-position-x: center;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: .25;
    }

    .landing-foreground {
        background-color: black;
        width: 100%;
        height: 100%;
        position: absolute;
        margin-left: -15px;
        z-index: -1;
    }

    h2 {
        color: @third-color;
        font-weight: bold;
        text-transform: uppercase;
    }

    .home-module-alt h2 {
        color: @secondary-color;
    }

    .home-module-accomplishments {
        margin-bottom: -40px;
    }

    @media @xs-only {
        h2 {
            font-size: 1.5rem;
            margin-bottom: 15px;
        }
    }

    @media @sm-at-least {
        h2 {
            font-size: 2rem;
            margin-bottom: 25px;
        }
    }

    .home-module-alt {
        background: @light-background;
    }

    .specialty {
        background-color: @panel-background;
        border-radius: 5px;
    }

    .specialty-title {
        background-color: @panel-title-background;
        border-radius: 5px 5px 0 0;
        text-align: center;
        color: @panel-title-color;
        font-weight: bold;
    }

    .specialty-icon-container {
        text-align: center;
    }

    .specialty-icon-background {
        border: 2px solid @secondary-color;
        border-radius: 100%;
        position: relative;
        margin: 0 auto;
        background: @light-background;
    }

    .specialty-icon {
        vertical-align: middle;
        position: relative;
        z-index: 50;
    }

    .specialty-text {
        padding: 10px 15px;
        font-weight: 500;
        text-align: center;
    }

    .specialty-text ul {
        padding: 0 0 0 20px;
    }

    .specialty-text-container {
        text-align: left;
        display: inline-block;
    }

    [class*='specialty-icon-front-end-component'] {
        position: absolute;
        opacity: 0;
        filter: alpha(opacity=0);
        animation-name: FrontEndComponent;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-play-state: running;
        animation-fill-mode: forwards;
        /* Safari and Chrome: */
        -webkit-animation-name: FrontEndComponent;
        -webkit-animation-duration: 5s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: normal;
        -webkit-animation-play-state: running;
        -webkit-animation-fill-mode: forwards;
    }

    @keyframes FrontEndComponent {
        0% {
            opacity: 1;
            filter: alpha(opacity=100);
            transform-origin: 50% top;
            -ms-transform-origin: 50% top;
            -webkit-transform-origin: 50% top;
            -o-transform-origin: 50% top;
            transform: scale(1, 0) translate(0%, 50%);
            -ms-transform: scale(1, 0) translate(0%, 50%);
            -webkit-transform: scale(1, 0) translate(0%, 50%);
            -o-transform: scale(1, 0) translate(0%, 50%);
        }

        40% {
            opacity: 1;
            filter: alpha(opacity=100);
            transform-origin: 50% top;
            -ms-transform-origin: 50% top;
            -webkit-transform-origin: 50% top;
            -o-transform-origin: 50% top;
            transform: scale(1, 1) translate(0%, 0%);
            -ms-transform: scale(1, 1) translate(0%, 0%);
            -webkit-transform: scale(1, 1) translate(0%, 0%);
            -o-transform: scale(1, 1) translate(0%, 0%);
        }

        70% {
            opacity: 1;
            filter: alpha(opacity=1);
        }

        80% {
            opacity: 0;
            filter: alpha(opacity=0);
        }

        100% {
            opacity: 0;
            filter: alpha(opacity=0);
        }
    }

    @-webkit-keyframes FrontEndComponent /* Safari and Chrome */ {
        0% {
            opacity: 1;
            filter: alpha(opacity=100);
            transform-origin: 50% top;
            -ms-transform-origin: 50% top;
            -webkit-transform-origin: 50% top;
            -o-transform-origin: 50% top;
            transform: scale(1, 0) translate(0%, 50%);
            -ms-transform: scale(1, 0) translate(0%, 50%);
            -webkit-transform: scale(1, 0) translate(0%, 50%);
            -o-transform: scale(1, 0) translate(0%, 50%);
        }

        30% {
            opacity: 1;
            filter: alpha(opacity=100);
            transform-origin: 50% top;
            -ms-transform-origin: 50% top;
            -webkit-transform-origin: 50% top;
            -o-transform-origin: 50% top;
            transform: scale(1, 1) translate(0%, 0%);
            -ms-transform: scale(1, 1) translate(0%, 0%);
            -webkit-transform: scale(1, 1) translate(0%, 0%);
            -o-transform: scale(1, 1) translate(0%, 0%);
        }

        70% {
            opacity: 1;
            filter: alpha(opacity=1);
        }

        80% {
            opacity: 0;
            filter: alpha(opacity=0);
        }

        100% {
            opacity: 0;
            filter: alpha(opacity=0);
        }
    }

    .specialty-icon-front-end-component-1 {
        background: @primary-color;
    }

    .specialty-icon-front-end-component-2, .specialty-icon-front-end-component-3 {
        background: @secondary-color;
        animation-delay: .5s;
        -webkit-animation-delay: .5s;
    }

    .specialty-icon-front-end-component-4 {
        background: @medium-dark-background;
        animation-delay: 1s;
        -webkit-animation-delay: 1s;
    }

    [class*='specialty-icon-back-end-light'] {
        border-radius: 100%;
        position: relative;
        z-index: 40;
    }

    .specialty-icon-back-end-light-1 {
        background-color: @error-color;
        animation-duration: 2s;
    }

    .specialty-icon-back-end-light-2, .specialty-icon-back-end-light-3 {
        background-color: @success-color;
    }

    .specialty-icon-database-packet-1 {
        animation-duration: 3s;
        -webkit-animation-duration: 3s;
    }

    .specialty-icon-database-packet-2 {
        animation-duration: 2.5s;
        -webkit-animation-duration: 2.5s;
    }

    .specialty-icon-database-packet-3 {
        animation-duration: 3.5s;
        -webkit-animation-duration: 3.5s;
    }

    .specialty-icon-database-packet-4 {
        animation-duration: 3.25s;
        -webkit-animation-duration: 3.25s;
    }

    .specialty-icon-database-packet-5 {
        animation-duration: 2.75s;
        -webkit-animation-duration: 2.75s;
    }

    [class*='specialty-icon-database-packet'] {
        background-color: @secondary-color;
        position: relative;
        opacity: 0;
        filter: alpha(opacity=0);
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-play-state: running;
        animation-fill-mode: forwards;
        /* Safari and Chrome: */
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: normal;
        -webkit-animation-play-state: running;
        -webkit-animation-fill-mode: forwards;
    }

    .specialty-cloud .specialty-icon {
        transform: scale(1.1);
    }

    [class*='specialty-icon-cloud-cog'] {
        position: relative;
        color: @secondary-color;
        z-index: 60;
    }

    .specialty-icon-cloud-cog-2 i {
        transform: rotate(2deg);
    }

    .specialty-icon-devops-ball {
        background: @secondary-color;
        border-radius: 100%;
        position: relative;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-play-state: running;
        animation-fill-mode: forwards;
        /* Safari and Chrome: */
        -webkit-animation-duration: 4s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: normal;
        -webkit-animation-play-state: running;
        -webkit-animation-fill-mode: forwards;
    }

    [class*='specialty-icon-tools-package'] {
        position: absolute;
        opacity: 0;
        filter: alpha(opacity=0);
        animation-name: ToolPackage;
        animation-duration: 10s;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-play-state: running;
        animation-fill-mode: forwards;
        /* Safari and Chrome: */
        -webkit-animation-name: ToolPackage;
        -webkit-animation-duration: 10s;
        -webkit-animation-timing-function: ease-out;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: normal;
        -webkit-animation-play-state: running;
        -webkit-animation-fill-mode: forwards;
    }

    .specialty-icon-tools-package-2 {
        animation-delay: 1s;
    }

    .specialty-icon-tools-package-3 {
        animation-delay: 2s;
    }

    .specialty-icon-tools-package-4 {
        animation-delay: 3s;
    }

    @keyframes ToolPackage {
        0% {
            margin-bottom: 25px;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        10% {
            margin-bottom: 0;
            opacity: 1;
            filter: alpha(opacity=100);
        }

        60% {
            opacity: 1;
            filter: alpha(opacity=100);
        }

        70% {
            opacity: 0;
            filter: alpha(opacity=0);
        }

        100% {
            opacity: 0;
            filter: alpha(opacity=0);
        }
    }

    @-webkit-keyframes ToolPackage /* Safari and Chrome */ {
        0% {
            margin-bottom: 25px;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        10% {
            margin-bottom: 0;
            opacity: 1;
            filter: alpha(opacity=100);
        }

        60% {
            opacity: 1;
            filter: alpha(opacity=100);
        }

        70% {
            opacity: 0;
            filter: alpha(opacity=0);
        }

        100% {
            opacity: 0;
            filter: alpha(opacity=0);
        }
    }

    @media @xs-only {
        .home-module {
            padding: 20px 0;
        }

        .specialty {
            margin-bottom: 15px;
        }

        .specialty-title {
            font-size: 1rem;
            padding: 10px 15px 35px;
        }

        .specialty-icon-background {
            height: 60px;
            width: 60px;
            margin-top: -30px;
        }

        .specialty-icon {
            line-height: 56px;
            font-size: 40px;
        }

        .specialty-front-end .specialty-icon {
            line-height: 65px;
        }

        .specialty-back-end .specialty-icon {
            line-height: 58px;
        }

        .specialty-text {
            font-size: .9rem;
        }

        [class*='specialty-icon-front-end-component'] {
            height: 8px;
        }

        .specialty-icon-front-end-component-1 {
            width: 35px;
            left: 10px;
            bottom: 32px;
        }

        .specialty-icon-front-end-component-2 {
            width: 11px;
            left: 10px;
            bottom: 23px;
        }

        .specialty-icon-front-end-component-3 {
            width: 11px;
            left: 22px;
            bottom: 23px;
        }

        .specialty-icon-front-end-component-4 {
            width: 11px;
            left: 34px;
            bottom: 23px;
        }

        [class*='specialty-icon-back-end-light'] {
            width: 6px;
            height: 6px;
            left: 40px;
        }

        .specialty-icon-back-end-light-1 {
            bottom: 45px;
        }

        .specialty-icon-back-end-light-2 {
            bottom: 40px;
        }

        .specialty-icon-back-end-light-3 {
            bottom: 34px;
        }

        .specialty-icon-database-packet-1 {
            bottom: 42px;
        }

        .specialty-icon-database-packet-2 {
            bottom: 40px;
        }

        .specialty-icon-database-packet-3 {
            bottom: 38px;
        }

        .specialty-icon-database-packet-4 {
            bottom: 36px;
        }

        .specialty-icon-database-packet-5 {
            bottom: 34px;
        }

        [class*='specialty-icon-database-packet'] {
            width: 4px;
            height: 4px;
            animation-name: DatabasePacketXS;
            -webkit-animation-name: DatabasePacketXS;
        }

        @keyframes DatabasePacketXS {
            0% {
                left: 0;
                opacity: 0;
                filter: alpha(opacity=0);
            }

            20% {
                left: 11px;
                opacity: 1;
                filter: alpha(opacity=100);
                background-color: @secondary-color;
            }

            80% {
                left: 44px;
                opacity: 1;
                filter: alpha(opacity=100);
                background-color: @third-color;
            }

            100% {
                left: 55px;
                opacity: 0;
                filter: alpha(opacity=0);
            }
        }

        @-webkit-keyframes DatabasePacketXS /* Safari and Chrome */ {
            0% {
                opacity: 0;
                filter: alpha(opacity=0);
            }

            20% {
                left: 11px;
                opacity: 1;
                filter: alpha(opacity=100);
                background-color: @secondary-color;
            }

            80% {
                left: 44px;
                opacity: 1;
                filter: alpha(opacity=100);
                background-color: @third-color;
            }

            100% {
                left: 55px;
                opacity: 0;
                filter: alpha(opacity=0);
            }
        }

        .specialty-icon-devops-ball {
            width: 6px;
            height: 6px;
            bottom: 28px;
            left: 15px;
            animation-name: DevOpsLoopXS;
            /* Safari and Chrome: */
            -webkit-animation-name: DevOpsLoopXS;
        }

        @keyframes DevOpsLoopXS {
            0% {
                bottom: 28px;
                left: 15px;
            }

            12% {
                bottom: 32px;
                left: 20px;
            }

            38% {
                bottom: 24px;
                left: 32px;
            }

            50% {
                bottom: 28px;
                left: 37px;
            }

            62% {
                bottom: 32px;
                left: 32px;
            }

            88% {
                bottom: 24px;
                left: 20px;
            }

            100% {
                bottom: 28px;
                left: 15px;
            }
        }

        @-webkit-keyframes DevOpsLoopXS /* Safari and Chrome */ {
            0% {
                bottom: 28px;
                left: 15px;
            }

            12% {
                bottom: 32px;
                left: 20px;
            }

            38% {
                bottom: 24px;
                left: 32px;
            }

            50% {
                bottom: 28px;
                left: 37px;
            }

            62% {
                bottom: 32px;
                left: 32px;
            }

            88% {
                bottom: 24px;
                left: 20px;
            }

            100% {
                bottom: 28px;
                left: 15px;
            }
        }

        [class*='specialty-icon-cloud-cog'] {
            font-size: 16px;
        }

        .specialty-icon-cloud-cog-1 {
            bottom: 37px;
            left: 6px;
        }

        .specialty-icon-cloud-cog-2 {
            bottom: 68px;
            left: -5px;
        }

        [class*='specialty-icon-tools-package'] {
            font-size: 24px;
        }

        .specialty-icon-tools-package-1 {
            left: 5px;
            bottom: 6px;
        }

        .specialty-icon-tools-package-2 {
            left: 16px;
            bottom: 13px;
        }

        .specialty-icon-tools-package-3 {
            left: 27px;
            bottom: 6px;
        }

        .specialty-icon-tools-package-4 {
            left: 16px;
            bottom: 20px;
        }
    }

    @media @sm-at-least {
        .home-module {
            padding: 40px 0;
        }

        .specialty {
            margin-bottom: 25px;
        }

        .specialty-title {
            font-size: 1.2rem;
            padding: 10px 15px 50px;
        }

        .specialty-icon-background {
            height: 80px;
            width: 80px;
            margin-top: -40px;
        }

        .specialty-icon {
            line-height: 76px;
            font-size: 50px;
        }

        .specialty-text ul {
            margin: 10px 0;
        }

        .specialty-front-end .specialty-icon {
            line-height: 85px;
        }

        .specialty-back-end .specialty-icon {
            line-height: 78px;
        }

        [class*='specialty-icon-front-end-component'] {
            height: 9px;
        }

        .specialty-icon-front-end-component-1 {
            width: 43px;
            left: 16px;
            bottom: 44px;
        }

        .specialty-icon-front-end-component-2 {
            width: 13px;
            left: 16px;
            bottom: 33px;
        }

        .specialty-icon-front-end-component-3 {
            width: 13px;
            left: 31px;
            bottom: 33px;
        }

        .specialty-icon-front-end-component-4 {
            width: 13px;
            left: 46px;
            bottom: 33px;
        }

        [class*='specialty-icon-back-end-light'] {
            width: 8px;
            height: 8px;
            left: 54px;
        }

        .specialty-icon-back-end-light-1 {
            bottom: 59px;
        }

        .specialty-icon-back-end-light-2 {
            bottom: 52px;
        }

        .specialty-icon-back-end-light-3 {
            bottom: 46px;
        }

        .specialty-icon-database-packet-1 {
            bottom: 53px;
        }

        .specialty-icon-database-packet-2 {
            bottom: 51px;
        }

        .specialty-icon-database-packet-3 {
            bottom: 49px;
        }

        .specialty-icon-database-packet-4 {
            bottom: 47px;
        }

        .specialty-icon-database-packet-5 {
            bottom: 45px;
        }

        [class*='specialty-icon-database-packet'] {
            width: 5px;
            height: 5px;
            animation-name: DatabasePacket;
            -webkit-animation-name: DatabasePacket;
        }

        @keyframes DatabasePacket {
            0% {
                left: 0;
                opacity: 0;
                filter: alpha(opacity=0);
            }

            20% {
                left: 14px;
                opacity: 1;
                filter: alpha(opacity=100);
                background-color: @secondary-color;
            }

            80% {
                left: 56px;
                opacity: 1;
                filter: alpha(opacity=100);
                background-color: @third-color;
            }

            100% {
                left: 70px;
                opacity: 0;
                filter: alpha(opacity=0);
            }
        }

        @-webkit-keyframes DatabasePacket /* Safari and Chrome */ {
            0% {
                opacity: 0;
                filter: alpha(opacity=0);
            }

            20% {
                left: 14px;
                opacity: 1;
                filter: alpha(opacity=100);
                background-color: @secondary-color;
            }

            80% {
                left: 56px;
                opacity: 1;
                filter: alpha(opacity=100);
                background-color: @third-color;
            }

            100% {
                left: 70px;
                opacity: 0;
                filter: alpha(opacity=0);
            }
        }

        .specialty-icon-devops-ball {
            width: 8px;
            height: 8px;
            bottom: 38px;
            left: 21px;
            animation-name: DevOpsLoop;
            /* Safari and Chrome: */
            -webkit-animation-name: DevOpsLoop;
        }

        @keyframes DevOpsLoop {
            0% {
                bottom: 38px;
                left: 21px;
            }

            12% {
                bottom: 43px;
                left: 27px;
            }

            38% {
                bottom: 33px;
                left: 43px;
            }

            50% {
                bottom: 38px;
                left: 49px;
            }

            62% {
                bottom: 43px;
                left: 43px;
            }

            88% {
                bottom: 33px;
                left: 27px;
            }

            100% {
                bottom: 38px;
                left: 21px;
            }
        }

        @-webkit-keyframes DevOpsLoop /* Safari and Chrome */ {
            0% {
                bottom: 38px;
                left: 21px;
            }

            12% {
                bottom: 43px;
                left: 27px;
            }

            38% {
                bottom: 33px;
                left: 43px;
            }

            50% {
                bottom: 38px;
                left: 48px;
            }

            62% {
                bottom: 43px;
                left: 43px;
            }

            88% {
                bottom: 33px;
                left: 27px;
            }

            100% {
                bottom: 38px;
                left: 21px;
            }
        }

        [class*='specialty-icon-cloud-cog'] {
            font-size: 20px;
        }

        .specialty-icon-cloud-cog-1 {
            bottom: 50px;
            left: 8px;
        }

        .specialty-icon-cloud-cog-2 {
            bottom: 90px;
            left: -5px;
        }

        [class*='specialty-icon-tools-package'] {
            font-size: 30px;
        }

        .specialty-icon-tools-package-1 {
            left: 10px;
            bottom: 10px;
        }

        .specialty-icon-tools-package-2 {
            left: 24px;
            bottom: 19px;
        }

        .specialty-icon-tools-package-3 {
            left: 38px;
            bottom: 10px;
        }

        .specialty-icon-tools-package-4 {
            left: 24px;
            bottom: 28px;
        }
    }
}