﻿@import "..\Variables.less";

.not-found-view {
    .error-container {
        padding: 25px 15px;
    }

    .error-description {
        font-weight: 500;
    }

    .error-return-button {
        margin-top: 15px;
    }

    @media @xs-only {
        .error-container, .error-return-button {
            font-size: .9rem;
        }
    }
}