﻿@import "..\Variables.less";

.projects-view {
    .project {
        border-radius: 5px;
        color: @panel-subtitle-color
    }

    .project-bar {
        height: 5px;
        background-color: @third-color;
        margin: 0 15px;
    }

    .project-info {
        padding: 10px 0;
        margin: 0;
        border-radius: 5px 5px 0 0;
    }

    .project-info-title {
        font-weight: 800;
        color: @third-color;
    }

    .project-info-title a {
        color: @third-color;
    }

    .project-info-dates, .project-info-company, .project-info-company a {
        font-weight: bold;
        color: @panel-subtitle-color;
    }

    .project-images {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: .5s;
        background-color: @medium-light-background;
        margin: 10px 15px;
    }

    .project-images-navigation {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .project-images-navigation-button {
        cursor: pointer;
        color: @dark-background;
        opacity: .8;
        transition: .5s;
        padding: 0 10px;
    }

    .project-images-navigation-button:hover {
        color: @third-color;
        transition: .5s;
        padding: 0 5px;
    }

    .project-images-navigate-next {
        float: right;
    }

    .project-details {
        padding: 0 15px 15px;
        font-weight: 500;
    }

    .project-details-title {
        color: @fourth-color;
        font-weight: bold;
        text-transform: uppercase;
        margin: 15px 0 5px;
    }

    .project-highlights {
        padding-left: 20px;
    }

    .project-visit-button {
        float: right;
    }

    @media @xs-only {
        .project-container {
            margin-top: 15px;
        }

        .project-info-title {
            font-size: 1.2rem;
        }

        .project-images {
            height: 250px;
        }

        .project-images-navigation-button {
            font-size: 1.5rem;
        }

        .project-highlights, .project-info-dates, .project-info-company, .project-visit-button .btn, .badge, .project-summary {
            font-size: .9rem;
        }

        .project-application-type {
            display: none;
        }
    }

    @media @sm-only {
        .project-container {
            margin-top: 25px;
        }

        .project-info-title {
            font-size: 1.5rem;
        }

        .project-images {
            height: 325px;
        }

        .project-images-navigation-button {
            font-size: 2rem;
        }

        .project-details-title {
            font-size: 1.2rem;
        }
    }

    @media @md-at-least {
        .project-container {
            margin-top: 25px;
        }

        .project-info-title {
            font-size: 2rem;
        }

        .project-images-navigation-button {
            font-size: 2.5rem;
        }

        .project-details-title {
            font-size: 1.4rem;
        }
    }

    @media @md-only {
        .project-images {
            height: 400px;
        }
    }

    @media @lg-only {
        .project-images {
            height: 500px;
        }
    }
}