﻿@import "..\Variables.less";

.skills-view {
    .skill-category {
        border-radius: 5px;
    }

    .skill-category-title {
        color: @third-color;
        padding: 10px 0 5px;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 3px solid;
    }

    .skill-table {
        margin-bottom: 0;
        font-weight: bold;
        color: @panel-subtitle-color;
    }

    .skill-table td {
        border: none;
    }

    .skill-icon {
        margin-top: -4px;
    }

    .skill-time-column {
        text-align: right;
        vertical-align: middle;
        text-wrap: nowrap;
    }

    .skill-name {
        color: @panel-subtitle-color;
    }

    .skill-master .skill-time-column {
        color: lighten(@secondary-color, 25%);
    }

    .skill-expert .skill-time-column {
        color: @third-color;
    }

    .skill-journeyman .skill-time-column {
        color: lighten(@fourth-color, 5%);
    }

    .skill-apprentice .skill-time-column {
        color: lighten(@neutral-background, 25%);
    }

    .skill-version {
        padding-left: 5px;
        color: lighten(@neutral-background, 25%);
    }

    @media @xs-only {
        .skill-category {
            margin-top: 15px;
        }

        .skill-category-title {
            font-size: 1rem;
        }

        .skill-icon-column {
            display: none;
        }

        .skill-name-column, .skill-time-column {
            padding: 3px 6px;
            font-size: .9rem;
        }
    }

    @media @sm-only {
        .skill-category {
            margin-top: 25px;
        }

        .skill-category-title {
            font-size: 1.1rem;
        }

        .skill-icon {
            width: 20px;
            height: 20px;
        }

        .skill-icon-column {
            width: 20px;
            padding: 4px 0 4px 8px;
            font-size: 1rem;
        }

        .skill-name-column, .skill-time-column {
            padding: 4px 8px;
            font-size: 1rem;
        }
    }

    @media @md-at-least {
        .skill-category {
            margin-top: 25px;
        }

        .skill-category-title {
            font-size: 1.2rem;
        }

        .skill-icon {
            width: 24px;
            height: 24px;
        }

        .skill-icon-column {
            width: 24px;
            padding: 5px 0 5px 10px;
            font-size: 1.1rem;
        }

        .skill-name-column, .skill-time-column {
            padding: 5px 10px;
            font-size: 1.1rem;
        }
    }
}