﻿@import "..\Variables.less";

.company-panel {
    .company {
        background: white;
        padding: 10px 15px;
        text-align: center;
        border-radius: 5px;
    }

    .company-title {
        color: @panel-title-color;
        background: @panel-title-background;
        font-weight: bold;
        white-space: nowrap;
        margin: 10px -15px -10px;
        padding: 10px;
        border-radius: 0 0 5px 5px;
    }

    @media @xs-only {
        margin-bottom: 15px;

        .company-title {
            font-size: 1.2rem;
        }

        .company img {
            width: 120px;
            height: 120px;
        }
    }

    @media @sm-only {
        margin-bottom: 25px;

        .company-title {
            font-size: 1.3rem;
        }

        .company img {
            width: 150px;
            height: 150px;
        }
    }

    @media @md-only {
        margin-bottom: 25px;

        .company-title {
            font-size: 1.5rem;
        }

        .company img {
            width: 180px;
            height: 180px;
        }
    }

    @media @lg-only {
        margin-bottom: 25px;

        .company-title {
            font-size: 1.4rem;
        }

        .company img {
            width: 200px;
            height: 200px;
        }
    }
}
