﻿@import "..\Variables.less";

.project-panel.no-padding .project-background {
    left: 0;
    right: 0;
}

.project-panel.no-padding .project-name {
    left: 0;
    right: 0;
}

.project-panel {
    padding: 0;

    .project {
        border-radius: 5px;
    }

    .project-background {
        border-radius: 5px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 15px;
        right: 15px;
        background-size: cover;
    }

    .project-name {
        border-radius: 5px;
        color: white;
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 15px;
        right: 15px;
        font-weight: bold;
        background: rgba(0, 0, 0, .5);
        transition: .5s;
    }

    .project-name:hover {
        background: @secondary-color;
        opacity: .9;
        transition: .5s;
    }

    @media @xs-only {
        .project {
            height: 200px;
        }

        .project-small {
            height: 100px;
        }

        margin-bottom: 15px;

        .project-name {
            line-height: 200px;
            font-size: 2rem;
        }

        .project-small .project-name {
            line-height: 100px;
            font-size: 1.2rem;
        }
    }

    @media @sm-only {
        .project {
            height: 250px;
        }

        .project-small {
            height: 120px;
        }

        margin-bottom: 25px;

        .project-name {
            line-height: 250px;
            font-size: 2.5rem;
        }

        .project-small .project-name {
            line-height: 120px;
            font-size: 1.5rem;
        }
    }

    @media @md-at-least {
        .project {
            height: 300px;
        }

        .project-small {
            height: 150px;
        }

        margin-bottom: 25px;

        .project-name {
            line-height: 300px;
            font-size: 3rem;
        }

        .project-small .project-name {
            line-height: 150px;
            font-size: 2rem;
        }
    }
}