﻿@import "..\Variables.less";

.skill-badge {
    .skill {
        color: white;
        display: inline-block;
        text-align: center;
        border-radius: 5px;
        font-weight: 500;
    }

    .skill-master {
        background: darken(@secondary-color, 10%);
    }

    .skill-expert {
        background: darken(@third-color, 20%);
    }

    .skill-journeyman {
        background: darken(@fourth-color, 10%);
    }

    .skill-apprentice {
        background: darken(@neutral-background, 5%);
    }

    .skill-level {
        background: black;
        opacity: .6;
        border-radius: 0 0 5px 5px;
        padding: 2px 5px;
    }

    .skill-level i {
        padding: 0 2px;
        vertical-align: top;
    }

    @media @xs-only {
        .skill {
            font-size: .9rem;
            padding: 0 10px 14px;
            margin: 0 3px 4px 0;
        }

        .skill-level {
            margin: 0 -10px -14px;
            line-height: 7px;
            font-size: 7px;
        }
    }

    @media @sm-only {
        .skill {
            padding: 0 11px 15px;
            margin: 0 3px 5px 0;
        }

        .skill-level {
            margin: 0 -11px -15px;
            line-height: 8px;
            font-size: 8px;
        }
    }

    @media @md-only {
        .skill {
            font-size: 1.1rem;
            padding: 0 12px 16px;
            margin: 0 4px 6px 0;
        }

        .skill-level {
            margin: 0 -12px -16px;
            line-height: 9px;
            font-size: 9px;
        }
    }

    @media @lg-only {
        .skill {
            font-size: 1.2rem;
            padding: 0 13px 19px;
            margin: 0 4px 7px 0;
        }

        .skill-level {
            margin: 2px -13px -19px;
            line-height: 10px;
            font-size: 10px;
        }
    }
}