﻿<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Main)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Main)">
            <div class="not-found-view">
                <div class="container">
                    <div class="row">
                        <div class="col view-title">
                            <h1>Not Found</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col error-container">
                            <div class="error-description">Not sure how you got here, but I can't find what you were looking for.</div>
                            <NavLink href="/" class="btn btn-primary error-return-button">Return to Home</NavLink>
                        </div>
                    </div>
                </div>
            </div>
        </LayoutView>
    </NotFound>
</Router>
