@import "../Variables.less";

.main-layout {
    height: 100%;
    min-width: @min-width;
    font-family: "Open Sans", sans-serif;

    a:hover {
        text-decoration: none;
        transition-duration: .5s;
        filter: brightness(1.25);
    }

    a {
        transition-duration: .5s;
    }

    a.link-dark:hover {
        filter: brightness(.75);
    }

    .badge {
        padding: 6px 10px;
        font-weight: 400;
        margin: 0 3px 5px 0;

        @media @sm-at-least {
            font-size: 1rem;
        }

        @media @xs-only {
            font-size: .9rem;
        }
    }

    .row-height-equal {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .row-height-equal:after, .row-height-equal:before {
        display: block;
    }

    .row-height-equal > [class*='col'] {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .row-height-equal > [class*='col'] > * {
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .nav-container {
        padding: 15px 20px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 100;
        min-width: @min-width;
    }

    .nav-container-background {
        background: @dark-background;
        transition-duration: 1s;
    }

    .nav-menu-container {
        text-align: right;
    }

    .nav-menu-icon {
        background: darken(@third-color, 10%);
        color: @dark-background;
        border-radius: 4px;
        line-height: 1;
        vertical-align: middle;
    }

    @media @xs-only {
        .nav-menu-icon {
            font-size: 1.2rem;
            padding: 0px 8px 2px;
        }

        .nav-menu-icon-container {
            margin: -5px 0 0;
        }

        .show-mobile-menu {
            top: 34px;
        }
    }

    @media @sm-at-least {
        .nav-menu-icon {
            font-size: 1.5rem;
            padding: 0px 12px 2px;
        }

        .nav-menu-icon-container {
            margin: -4px 0 0;
        }

        .show-mobile-menu {
            top: 41px;
        }
    }

    nav .nav-link {
        font-weight: bold;
        text-transform: uppercase;
    }

    nav .nav-link a {
        padding-bottom: 2px;
        color: @third-color;
    }

    @media @md-at-most {
        nav {
            display: none;
        }

        .show-mobile-menu {
            display: block;
            position: absolute;
            right: -5px;
            background-color: @medium-dark-background;
            padding: 8px 0;
        }

        nav .nav-link {
            text-align: left;
        }
    }

    @media @lg-only {
        .nav-menu-icon-container {
            display: none;
        }

        nav .nav-link {
            display: inline;
        }
    }

    nav a {
        transition-duration: .5s;
    }

    nav a:hover {
        color: @secondary-color;
        border-bottom: 4px solid;
        transition-duration: .5s;
    }

    nav a.active {
        border-bottom: 4px solid @third-color;
    }

    .avatar-container {
        margin: -10px 0 -6px;
    }

    .avatar {
        line-height: 1;
        color: @third-color;
        font-weight: bold;
        text-decoration: none;
    }

    @media @xs-only {
        .avatar {
            font-size: 2rem;
            letter-spacing: -.4rem;
        }
    }

    @media @sm-at-least {
        .avatar {
            font-size: 2.5rem;
            letter-spacing: -.5rem;
        }
    }

    footer {
        background: @dark-background;
        color: @panel-subtitle-color;
    }

    .footer-profile-image {
        display: inline-block;
        background-image: url(/images/profile.jpg);
        background-position: center;
        border-radius: 5px;
        margin-right: 10px;
        background-size: 100%;
    }

    .footer-profile-details {
        display: inline-block;
        vertical-align: top;
        font-weight: bold;
    }

    .footer-profile-name {
        font-weight: bold;
        color: @third-color;
    }

    .footer-link {
        display: block;
        transition: .5s;
    }

    .footer-link-content {
        display: inline-block;
        vertical-align: middle;
    }

    .footer-link-title {
        font-weight: 700;
        display: block;
        color: @panel-subtitle-color;
        text-transform: uppercase;
    }

    .footer-link-subtitle {
        display: block;
        color: @panel-subtitle-color;
        margin-top: -5px;
    }

    .footer-link:hover .footer-link-title, .footer-link:hover .footer-link-subtitle {
        color: @third-color;
        transition: .5s;
    }

    .social-icon {
        font-size: 2rem;
        color: white;
        border-radius: 3px;
        vertical-align: middle;
    }

    .social-icon img {
        width: 50px;
        height: 50px;
    }

    @media @xs-only {
        footer {
            padding: 35px 15px;
        }

        .footer-profile {
            margin-bottom: 10px;
        }

        .footer-profile-name {
            font-size: 1.5rem;
        }

        .footer-profile-image {
            display: none;
        }

        .footer-link {
            margin: 0 0 5px;
        }

        .footer-link:first-child {
            padding-top: 10px;
            border-top: 2px solid @third-color;
        }

        .footer-link-subtitle {
            font-size: .9rem;
        }

        .social-icon {
            margin: 0 0 0 -5px;
        }

        .social-icon img {
            transform: scale(.8);
        }
    }

    @media @sm-only {
        footer {
            padding: 50px 15px;
        }

        .footer-profile {
            margin-bottom: 10px;
        }

        .footer-profile-name {
            font-size: 1.8rem;
        }

        .footer-profile-image {
            width: 100px;
            height: 100px;
        }

        .footer-link {
            margin: 0 0 15px;
        }

        .footer-link:first-child {
            padding-top: 15px;
            border-top: 2px solid @third-color;
        }

        .social-icon {
            margin: 0 5px 0 0;
        }
    }

    @media @md-only {
        .footer-profile {
            margin-bottom: 10px;
        }

        .footer-link:first-child {
            padding-top: 15px;
            border-top: 2px solid @third-color;
        }
    }

    @media @lg-only {
        .footer-profile {
            margin-bottom: 10px;
        }

        .footer-link:first-child {
            padding-top: 10px;
        }
    }

    @media @md-at-least {
        footer {
            padding: 50px 15px;
        }

        .footer-profile-name {
            font-size: 2.5rem;
        }

        .footer-profile-image {
            width: 120px;
            height: 120px;
        }

        .footer-link {
            margin: 0 0 15px;
        }

        .social-icon {
            margin: 0 5px 0 0;
        }
    }

    .body-container {
        min-height: 100%;
    }

    @media @xs-only {
        .router-container {
            padding: 60px 0 80px;
        }

        .body-container {
            margin-bottom: -50px;
        }
    }

    @media @sm-at-least {
        .router-container {
            padding: 80px 0 100px;
        }

        .body-container {
            margin-bottom: -60px;
        }
    }

    .body-background {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: @medium-dark-background;
        z-index: -100;
    }
}