﻿@inherits LayoutComponentBase
@implements IAsyncDisposable
@inject IScrollHandler _ScrollHandler

<div class="main-layout">
    <div class="body-background"></div>
    <div class="body-container">
        <div class="container-fluid">
            <div class="row nav-container @(ShowNavContainerBackground ? "nav-container-background" : String.Empty)">
                <div class="col-6 col-lg-2">
                    <div class="avatar-container" @onclick="HideMobileMenu">
                        <NavLink class="avatar" href="/">DC</NavLink>
                    </div>
                </div>
                <div class="col-6 col-lg-10 nav-menu-container">
                    <div class="nav-menu-icon-container">
                        <a href="javascript:void(0);" class="nav-menu-icon" @onclick="ToggleMobileMenu">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <nav class="@(ShowMobileMenu ? "show-mobile-menu" : String.Empty)" @onclick="HideMobileMenu">
                        <div class="nav-link">
                            <NavLink href="experience">Experience</NavLink>
                        </div>
                        <div class="nav-link">
                            <NavLink href="projects">Projects</NavLink>
                        </div>
                        <div class="nav-link">
                            <NavLink href="skills">Skills</NavLink>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="router-container">
            @Body
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 footer-profile">
                    <div class="footer-profile-image"></div>
                    <div class="footer-profile-details">
                        <div class="footer-profile-name">Devin Clark</div>
                        <div class="footer-profile-title">Senior Full-Stack Developer</div>
                        <div class="footer-profile-location">Winter Garden, FL</div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 footer-links">
                    <a class="footer-link" href="https://linkedin.com/in/devinkc" target="_blank">
                        <span class="social-icon social-icon-linked-in">
                            <img src="/images/socials/linked-in.svg"/>
                        </span>
                        <span class="footer-link-content">
                            <span class="footer-link-title">LinkedIn</span>
                            <span class="footer-link-subtitle">Let's connect</span>
                        </span>
                    </a>
                    <a class="footer-link" href="https://bitbucket.org/devinclark" target="_blank">
                        <span class="social-icon social-icon-bitbucket">
                            <img src="/images/socials/bitbucket.svg"/>
                        </span>
                        <span class="footer-link-content">
                            <span class="footer-link-title">Bitbucket</span>
                            <span class="footer-link-subtitle">Check out my code</span>
                        </span>
                    </a>   
                    <a class="footer-link" href="mailto:dkclark.biz@gmail.com" target="_blank">
                        <span class="social-icon social-icon-gmail">
                            <img src="/images/socials/gmail.svg" />
                        </span>
                        <span class="footer-link-content">
                            <span class="footer-link-title">Contact</span>
                            <span class="footer-link-subtitle">Got something to say?</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>

@code {
    private bool ShowMobileMenu { get; set; } = false;
    private bool ShowNavContainerBackground { get; set; } = false;

    public async ValueTask DisposeAsync()
    {
        if (_ScrollHandler != null)
        {
            await _ScrollHandler.DisposeAsync();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        await _ScrollHandler.RegisterPageScrollAsync(PageScrolled);
    }

    private async Task PageScrolled(ScrollEventArgs args)
    {
        ShowNavContainerBackground = args.Y > 0;

        StateHasChanged();
    }

    private void ToggleMobileMenu()
    {
        ShowMobileMenu = !ShowMobileMenu;
    }

    private void HideMobileMenu()
    {
        ShowMobileMenu = false;
    }
}
