﻿<style lang="less">
    @import "css\Variables.less";
    @import "css\Common.less";

    html, body, #app {
        height: 100%;
    }

    #app, footer, .nav-container {
        min-width: @min-width;
    }

    .nav-container {
        background: @dark-background;
        padding: 15px 20px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 100;
    }

    .nav-menu-container {
        text-align: right;
    }

    .nav-menu-icon {
        background: @primary-color;
        color: @dark-background;
        border-radius: 4px;   
        line-height: 1;
        vertical-align: middle;
    }

    @media @xs-only {
        .nav-menu-icon {
            font-size: 1.2rem;
            padding: 0px 8px 2px;
        }

        .nav-menu-icon-container {
            margin: -5px 0 0;
        }

        .show-mobile-menu {
            top: 34px;
        }
    }

    @media @sm-at-least {
        .nav-menu-icon {
            font-size: 1.5rem;
            padding: 0px 12px 2px;
        }

        .nav-menu-icon-container {
            margin: -4px 0 0;
        }

        .show-mobile-menu {
            top: 41px;
        }
    }

    nav .nav-link {
        font-weight: bold;
        text-transform: uppercase;
        color: @primary-color;
    }

    nav .nav-link a {
        padding-bottom: 2px;
    }

    @media @md-at-most {
        nav {
            display: none;
        }

        .show-mobile-menu {
            display: block;
            position: absolute;
            right: -5px;
            background-color: @medium-dark-background;
            padding: 8px 0;
        }

        nav .nav-link {
            text-align: left;
        }
    }

    @media @lg-only {
        .nav-menu-icon-container {
            display: none;
        }

        nav .nav-link {
            display: inline;
        }
    }

    nav a {
        transition-duration: .5s;
    }

    nav a:hover {
        border-bottom: 4px solid @secondary-color;
        transition-duration: .5s;
        filter: brightness(2);
    }

    nav .router-link-active {
        border-bottom: 4px solid @third-color;
    }

    .avatar-container {
        margin: -10px 0 -6px;
    }

    .avatar {
        line-height: 1;
        color: @primary-color;
        font-weight: bold;
        text-decoration: none;
    }

    @media @xs-only {
        .avatar {
            font-size: 2rem;
        }
    }

    @media @sm-at-least {
        .avatar {
            font-size: 2.5rem;
        }
    }

    .social-icon {
        margin: 0 2px;
    }

    .fa-linkedin {
        background-color: #0077b5;
        padding: 3px 5px;
        font-size: 1.5rem;
        color: white;
    }

    .fa-bitbucket {
        background-color: #1b4f80;
        color: white;
        font-size: 1.5rem;
        padding: 3px 6px;
    }

    footer {
        background: @dark-background;
        height: 200px;
    }

    .body-container {
        min-height: 100%; 
    }

    @media @xs-only {
        .router-container {
            padding: 80px 0;
        }

        footer {
            padding: 10px 25px;
            height: 50px;
        }

        .body-container {
            margin-bottom: -50px;
        }
    }

    @media @sm-at-least {
        .router-container {
            padding: 100px 0;
        }

        footer {
            padding: 15px 25px;
            height: 60px;
        }

        .body-container {
            margin-bottom: -60px;
        }
    }

    .body-background {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: @light-background;
        z-index: -100;
    }
</style>

<template>
    <div id="app">
        <div class="body-background"></div>
        <div class="body-container">
            <div class="container-fluid">
                <div class="row nav-container">
                    <div class="col-6 col-lg-2">
                        <div class="avatar-container" v-on:click="hideMobileMenu">
                            <router-link class="avatar" to="/">DKC</router-link>
                        </div>
                    </div>
                    <div class="col-6 col-lg-10 nav-menu-container">
                        <div class="nav-menu-icon-container">
                            <a href="javascript:void(0);" class="nav-menu-icon" v-on:click="toggleMobileMenu">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                        <nav :class="{ 'show-mobile-menu' : showMobileMenu }" v-on:click="hideMobileMenu">
                            <div class="nav-link" v-for="route in routes" :key="route.name">
                                <router-link :to="route.path">{{route.name}}</router-link>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="router-container">
                <router-view />
            </div>
        </div>
        <footer class="container-fluid">
            <div class="row">
                <div class="col-8 col-md-2 social-icons">
                    <a class="social-icon" href="https://linkedin.com/in/devin-keith-clark" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="social-icon" href="https://bitbucket.org/devinkeithclark" target="_blank">
                        <i class="fa fa-bitbucket"></i>
                    </a>
                </div>
            </div>
        </footer>
    </div>
</template>

<script lang="ts">
    import { Vue, Component } from "vue-property-decorator";
    import { RouteMetaEntity } from "@/entities/RouteMetaEntity";
    import Router, { Routes } from "@/router/index";
    import { RouteConfig } from "vue-router";
    import $ from 'jquery';

    @Component
    export default class App extends Vue {
        routes: Array<RouteConfig> = new Array<RouteConfig>();
        showMobileMenu = false;

        beforeMount(): void {
            this.populateMenuRoutes();
        }

        mounted(): void {
            this.onRouteChange();
        }

        updated(): void {
            this.onRouteChange();
        }

        populateMenuRoutes(): void {
            const menuRoutes: Array<RouteConfig> = new Array<RouteConfig>();

            for (let i = 0; i < Routes.length; i++) {
                if (Routes[i].meta?.isOnMainMenu) {
                    menuRoutes.push(Routes[i]);
                }
            }

            this.routes = menuRoutes;
        }

        onRouteChange(): void {
            this.populateMetaData();
        }

        handleAnchor(): void {
            const anchor = Router.currentRoute.hash;
            this.$nextTick(() => {
                if (anchor && document.querySelector(anchor)) {
                    location.href = anchor;
                }
                else {
                    window.scrollTo(0, 0);
                }
            });
        }

        populateMetaData(): void {
            const meta: RouteMetaEntity = Router.currentRoute.meta;

            let title = Router.currentRoute.name ?? "";

            for (let i = 0; i < (meta?.keywords == null ? 0 : meta.keywords.length); i++) {
                const keyword: string = meta?.keywords == null ? "" : meta.keywords[i];

                if (title.length + keyword.length + 3 <= 70) {
                    title += ` | ${keyword}`;
                }
            }

            if (Router.currentRoute.meta?.title != null && title.length + Router.currentRoute.meta.title.length + 3 <= 70) {
                title += ` | ${Router.currentRoute.meta.title}`;
            }

            $("title").text(title);
            $("meta[name='keywords']").attr("content", meta?.keywords?.join(",") ?? "");
            $("meta[name='description']").attr("content", meta?.description ?? "");
            $("meta[name='language']").attr("content", meta?.language ?? "");
            $("meta[name='robots']").attr("content", meta?.robots ?? "");
            $("link[rel='canonical']").attr("href", meta?.canonical ?? Router.currentRoute.fullPath);
            $("meta[name='author']").attr("content", meta?.author ?? "");
            $("link[rel='shortcut icon']").attr("href", meta?.shortcutIcon ?? "");
            $("meta[name='content-language']").attr("content", meta?.contentLanguages?.join(",") ?? "");
        }

        toggleMobileMenu(): void {
            this.showMobileMenu = !this.showMobileMenu;
        }

        hideMobileMenu(): void {
            this.showMobileMenu = false;
        }
    }
</script>
