﻿<div class="col-xs-12 col-md-6 accomplishment-panel">
    @if (String.IsNullOrEmpty(Accomplishment.OrganizationURL))
    {
        <div class="accomplishment">
            <div class="accomplishment-avatar">
                <div class="accomplishment-avatar-container">
                    <div style="background-image: url(@Accomplishment.OrganizationAvatarURL)" class="accomplishment-avatar-image"></div>
                </div>
            </div>
            <div class="accomplishment-details">
                <span class="accomplishment-award">@Accomplishment.Award</span><br />
                @Accomplishment.Organization
            </div>
        </div>
    }
    else
    {
        <NavLink class="link-dark" target="_blank" href="@Accomplishment.OrganizationURL">
            <div class="accomplishment">
                <div class="accomplishment-avatar">
                    <div class="accomplishment-avatar-container">
                        <div style="background-image: url(@Accomplishment.OrganizationAvatarURL)" class="accomplishment-avatar-image"></div>
                    </div>
                </div>
                <div class="accomplishment-details">
                    <span class="accomplishment-award">@Accomplishment.Award</span><br />
                    @Accomplishment.Organization
                </div>
            </div>
        </NavLink>
    }
</div>

@code {
    [Parameter]
    public AccomplishmentEntity Accomplishment { get; set; }
}
