﻿<div class="col-sm-6 col-lg-4 company-panel">
    <NavLink class="link-dark" href="@($"/experience#employment-{Employment.ID}")">
        <div class="company">
            <img src="@Employment.CompanyAvatarURL" alt="@Employment.Company" />
            <div class="company-title">@Employment.Company</div>
        </div>
    </NavLink>
</div>

@code {
    [Parameter]
    public EmploymentEntity Employment { get; set; }
}
