﻿@inject NavigationManager NM

<Title>@Meta.GetTitleTagValue()</Title>
<Meta Name="keywords" Content="@String.Join(',', Meta.Keywords)" />
<Meta Name="description" Content="@(Meta.Description ?? String.Empty)" />
<Meta Name="language" Content="@(Meta.Language ?? String.Empty)" />
<Meta Name="robots" Content="@(Meta.Robots ?? String.Empty)" />
<Meta Name="author" Content="@(Meta.Author ?? String.Empty)" />
<Meta Name="content-language" Content="@String.Join(',', Meta.ContentLanguages)" />
<Link Rel="canonical" Href="@(Meta.Canoncial ?? NM.Uri)" />
<Link Rel="shortcut icon" Href="@(Meta.ShortcutIcon ?? String.Empty)?v=@DKC.Portfolio.Web.Constants.InstanceStartDate.Ticks" />
<Link Rel="stylesheet" Href="css/app.min.css?v=@DKC.Portfolio.Web.Constants.InstanceStartDate.Ticks" />

@code {
    [Parameter]
    public MetaEntity Meta { get; set; }
}
