﻿<div class="project-panel @ColumnClass">
    <NavLink href="@($"/projects#project-{Project.ID}")">
        <div class="project @(IsList == true ? "project-small" : String.Empty)">
            <div class="project-background" style="background-image: url(@Project.ProjectImages.First())"></div>
            <div class="project-name">@Project.Name</div>
        </div>
    </NavLink>
</div>

@code {
    [Parameter]
    public ProjectEntity Project { get; set; }
    [Parameter]
    public string ColumnClass { get; set; }
    [Parameter]
    public bool? IsList { get; set; }
}
