﻿<NavLink class="skill-badge" href="@($"/skills#skill-{Skill.ID}")">
    <div class="skill @(Skill.GetExperienceMonths() >= Skills.Levels.MasterMonths ? "skill-master" : Skill.GetExperienceMonths() >= Skills.Levels.ExpertMonths ? "skill-expert" : Skill.GetExperienceMonths() >= Skills.Levels.JourneymanMonths ? "skill-journeyman" : "skill-apprentice")">
        @Skill.Name
        <div class="skill-level">
            @if (Skill.GetExperienceMonths() >= Skills.Levels.MasterMonths)
            {
                <i class="fa fa-star"></i>
            }
            @if (Skill.GetExperienceMonths() >= Skills.Levels.ExpertMonths)
            {
                <i class="fa fa-star"></i>
            }
            @if (Skill.GetExperienceMonths() >= Skills.Levels.JourneymanMonths)
            {
                <i class="fa fa-star"></i>
            }
            <i class="fa fa-star"></i>
        </div>
    </div>
</NavLink>

@code {
    [Parameter]
    public SkillEntity Skill { get; set; }
}
