﻿@page "/experience"

<MetaActor Meta="Meta" />

<div class="experience-view">
    <div class="container">
        <div class="row employments">
            @foreach (EmploymentEntity employment in Employments.History)
            {
                int employmentMonths = employment.GetExperienceMonths();

                <div class="col-12 employment-container">
                    <div class="employment" id="employment-@employment.ID">
                        <div class="employment-bar row"></div>
                        <div class="employment-info row">
                            <div class="employment-info-avatar col-auto">
                                @if (String.IsNullOrEmpty(employment.CompanyURL))
                                {
                                    <img src="@employment.CompanyAvatarURL" alt="@employment.Company" />
                                }
                                else
                                {
                                    <a class="link-dark" href="@employment.CompanyURL" target="_blank">
                                        <img src="@employment.CompanyAvatarURL" alt="@employment.Company" />
                                    </a>
                                }
                            </div>
                            <div class="employment-info-summary col-auto">
                                <div class="employment-info-title">@employment.Title</div>
                                <div class="employment-info-company">
                                    @if (String.IsNullOrEmpty(employment.CompanyURL))
                                    {
                                        <span>@employment.Company</span>
                                    }
                                    else
                                    {
                                        <a class="link-dark" href="@employment.CompanyURL" target="_blank">@employment.Company</a>
                                    }
                                    @((MarkupString)"&nbsp;&middot;&nbsp;")@employment.EmploymentType
                                </div>
                                <div class="employment-info-dates">@employment.StartDate.ToString("MMM yyyy") - @(employment.EndDate.HasValue ? employment.EndDate.Value.ToString("MMM yyyy") : "Present")
                                @((MarkupString)"&middot;&nbsp;")@(employmentMonths > 11 ? $"{(employmentMonths / 12)} yr " : "")@($"{employmentMonths % 12} mo")</div>
                                <div class="employment-info-location">@employment.Location</div>
                            </div>
                        </div>
                        <div class="employment-details">
                            @if (employment.Accomplishments.Any())
                            {
                                <div class="employment-details-title">Accomplishments</div>
                                <ul class="employment-responsibilities">
                                    @foreach (string accomplishment in employment.Accomplishments)
                                    {
                                        <li>@((MarkupString)accomplishment)</li>
                                    }
                                </ul>
                            }
                            <div class="row">
                                @if (employment.Technologies.Any() || employment.Tools.Any() || employment.Concepts.Any())
                                {
                                    <div class="col-12 @(GetProjectsFromEmployment(employment).Any() ? "col-lg-6" : "")">
                                        @if (employment.Technologies.Any())
                                        {
                                            <div class="employment-details-title">Technologies</div>
                                            @foreach (string technology in employment.Technologies)
                                            {
                                                <span class="badge badge-dark">@technology</span>
                                            }
                                        }
                                        @if (employment.Tools.Any())
                                        {
                                            <div class="employment-details-title">Tools</div>
                                            @foreach (string tool in employment.Tools)
                                            {
                                                <span class="badge badge-dark">@tool</span>
                                            }
                                        }
                                        @if (employment.Concepts.Any())
                                        {
                                            <div class="employment-details-title">Concepts</div>
                                            @foreach (string concept in employment.Concepts)
                                            {
                                                <span class="badge badge-dark">@concept</span>
                                            }
                                        }
                                    </div>
                                }
                                @if (GetProjectsFromEmployment(employment).Any())
                                {
                                    <div class="col-12 col-lg-6">
                                        <div class="employment-details-title">Projects</div>
                                        @foreach (ProjectEntity project in GetProjectsFromEmployment(employment))
                                        {
                                            <ProjectPanel Project="project" ColumnClass="col-12 no-padding" IsList="true" />
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    private MetaEntity Meta { get; set; } = new MetaEntity()
    {
        Title = "Experience",
        Canoncial = "devin.biz/experience"
    };

    private IEnumerable<ProjectEntity> GetProjectsFromEmployment(EmploymentEntity employment)
    {
        return Web.Projects.History.Where(x => x.EmploymentCompanyID == employment.ID);
    }
}