﻿@page "/"
@page "/home"
@inject NavigationManager NM

<MetaActor Meta="Meta" />

<div class="home-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="landing-foreground">
                    <div class="landing-background"></div>
                </div>
                <div class="objective">
                    <div class="objective-text objective-text-lg objective-1">Hi</div>
                    <div class="objective-text objective-text-lg objective-2">Welcome to my portfolio</div>
                    <div class="objective-text objective-text-sm objective-3">My name is Devin</div>
                    <div class="objective-text objective-text-sm objective-4">I'm a Senior Full-Stack Developer</div>
                    <div class="objective-text objective-text-sm objective-5">I've been doing this for @Employments.CareerExperienceYears years</div>
                </div>
            </div>
        </div>
    </div>
    <div class="specialties home-module home-module-alt">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>What can I do?</h2>
                </div>
            </div>
            <div class="row row-height-equal">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="specialty specialty-front-end">
                        <div class="specialty-title">Front-End Development</div>
                        <div class="specialty-icon-container">
                            <div class="specialty-icon-background">
                                <i class="fa fa-desktop specialty-icon"></i>
                                <div class="specialty-icon-front-end-component-1"></div>
                                <div class="specialty-icon-front-end-component-2"></div>
                                <div class="specialty-icon-front-end-component-3"></div>
                                <div class="specialty-icon-front-end-component-4"></div>
                            </div>
                        </div>
                        <div class="specialty-text">
                            <div class="specialty-text-container">
                                <ul>
                                    <li>Single Page Applications</li>
                                    <li>Responsive Design</li>
                                    <li>Search Engine Optimization</li>
                                    <li>White Labeling</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="specialty specialty-back-end">
                        <div class="specialty-title">Back-End Development</div>
                        <div class="specialty-icon-container">
                            <div class="specialty-icon-background">
                                <i class="fa fa-server specialty-icon"></i>
                                <div class="specialty-icon-back-end-light-1 animation-fade-in-cycle"></div>
                                <div class="specialty-icon-back-end-light-2"></div>
                                <div class="specialty-icon-back-end-light-3"></div>
                            </div>
                        </div>
                        <div class="specialty-text">
                            <div class="specialty-text-container">
                                <ul>
                                    <li>Microservices</li>
                                    <li>Multithreaded Development</li>
                                    <li>REST</li>
                                    <li>Dependency Injection</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="specialty specialty-database">
                        <div class="specialty-title">Database Development</div>
                        <div class="specialty-icon-container">
                            <div class="specialty-icon-background">
                                <i class="fa fa-database specialty-icon"></i>
                                <div class="specialty-icon-database-packet-1"></div>
                                <div class="specialty-icon-database-packet-2"></div>
                                <div class="specialty-icon-database-packet-3"></div>
                                <div class="specialty-icon-database-packet-4"></div>
                                <div class="specialty-icon-database-packet-5"></div>
                            </div>
                        </div>
                        <div class="specialty-text">
                            <div class="specialty-text-container">
                                <ul>
                                    <li>Object Relational Mapping</li>
                                    <li>Performance Tuning</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="specialty specialty-devops">
                        <div class="specialty-title">DevOps</div>
                        <div class="specialty-icon-container">
                            <div class="specialty-icon-background">
                                <i class="fa fa-jsfiddle specialty-icon"></i>
                                <div class="specialty-icon-devops-ball"></div>
                            </div>
                        </div>
                        <div class="specialty-text">
                            <div class="specialty-text-container">
                                <ul>
                                    <li>Release Management</li>
                                    <li>Continuous Integration</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="specialty specialty-cloud">
                        <div class="specialty-title">Cloud Engineering</div>
                        <div class="specialty-icon-container">
                            <div class="specialty-icon-background">
                                <i class="fa fa-cloud specialty-icon"></i>
                                <div class="specialty-icon-cloud-cog-1">
                                    <i class="fa fa-cog animation-rotate-right"></i>
                                </div>
                                <div class="specialty-icon-cloud-cog-2">
                                    <i class="fa fa-cog animation-rotate-left"></i>
                                </div>
                            </div>
                        </div>
                        <div class="specialty-text">
                            <div class="specialty-text-container">
                                <ul>
                                    <li>Service Monitoring</li>
                                    <li>Scalability</li>
                                    <li>Reliability</li>
                                    <li>Infrastructure As Code</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="specialty specialty-tools">
                        <div class="specialty-title">Internal Tools</div>
                        <div class="specialty-icon-container">
                            <div class="specialty-icon-background">
                                <div class="specialty-icon-tools-package-1">
                                    <i class="fa fa-codepen"></i>
                                </div>
                                <div class="specialty-icon-tools-package-2">
                                    <i class="fa fa-codepen"></i>
                                </div>
                                <div class="specialty-icon-tools-package-3">
                                    <i class="fa fa-codepen"></i>
                                </div>
                                <div class="specialty-icon-tools-package-4">
                                    <i class="fa fa-codepen"></i>
                                </div>
                            </div>
                        </div>
                        <div class="specialty-text">
                            <div class="specialty-text-container">
                                <ul>
                                    <li>Workflow Automation</li>
                                    <li>Prototype Development</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="experience home-module">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Who have I worked with?</h2>
                </div>
            </div>
            <div class="row row-height-equal">
                @foreach (EmploymentEntity employment in Employments.History)
                {
                    <CompanyPanel Employment="employment"></CompanyPanel>
                }
            </div>
        </div>
    </div>
    <div class="projects home-module home-module-alt">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>What have I built?</h2>
                </div>
            </div>
            <div class="row">
                @foreach (ProjectEntity project in Web.Projects.History)
                {
                    <ProjectPanel Project="project" ColumnClass="col-xl-6" />
                }
            </div>
        </div>
    </div>
    <div class="skills home-module">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>What have I learned?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @foreach (SkillEntity skill in Web.Skills.History)
                    {
                        <SkillBadge Skill="skill" />
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="accomplishments home-module home-module-alt home-module-accomplishments">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>What have I achieved?</h2>
                </div>
            </div>
            <div class="row row-height-equal">
                @foreach (AccomplishmentEntity accomplishment in Accomplishments.History)
                {
                    <AccomplishmentPanel Accomplishment="accomplishment" />
                }
            </div>
        </div>
    </div>
</div>

@code {
    private MetaEntity Meta { get; set; } = new MetaEntity()
    {
        Keywords = new List<string>()
        {
            "Senior Full-Stack Developer"
        },
        Description = "Devin Clark's personal profile site",
        Canoncial = "devin.biz"
    };

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}