﻿@page "/projects"

<MetaActor Meta="Meta" />

<div class="projects-view">
    <div class="projects">
        <div class="container">
            <div class="row projects">
                @foreach (ProjectControlEntity projectControl in ProjectControls)
                {
                    <div class="col-12 project-container">
                        <div class="project" id="project-@projectControl.Project.ID">
                            <div class="project-bar row"></div>
                            <div class="project-info row">
                                <div class="col">
                                    <div class="project-info-title">
                                        @if (String.IsNullOrEmpty(projectControl.Project.ProjectURL))
                                        {
                                            <span>@projectControl.Project.Name</span>
                                        }
                                        else
                                        {
                                            <a href="@projectControl.Project.ProjectURL" class="link-dark" target="_blank">@projectControl.Project.Name</a>
                                        }
                                    </div>
                                    <div class="project-info-company">
                                        @projectControl.Project.Company<span class="project-application-type">@((MarkupString)"&nbsp;")@projectControl.Project.ApplicationType</span>
                                        @if (!String.IsNullOrEmpty(projectControl.Project.ProjectURL))
                                        {
                                            @((MarkupString)"&nbsp;&middot;&nbsp;")<a href="@projectControl.Project.ProjectURL" class="link-dark" target="_blank">@projectControl.Project.ProjectFriendlyURL</a>
                                        }
                                    </div>
                                    <div class="project-info-dates">@projectControl.Project.StartDate.ToString("MMM yyyy") - @(projectControl.Project.EndDate.HasValue ? projectControl.Project.EndDate.Value.ToString("MMM yyyy") : "Present")</div>
                                </div>
                            </div>
                            <div class="project-images" style="background-image: url(@projectControl.Project.ProjectImages.Skip(projectControl.CurrentImageIndex).First())">
                                @if (projectControl.Project.ProjectImages.Count() > 1)
                                {
                                    <div class="project-images-navigation project-images-navigate-next">
                                        <i class="fa fa-chevron-right project-images-navigation-button" @onclick="() => NavigateNextImage(projectControl)"></i>
                                    </div>
                                    <div class="project-images-navigation project-images-navigate-previous">
                                        <i class="fa fa-chevron-left project-images-navigation-button" @onclick="() => NavigatePreviousImage(projectControl)"></i>
                                    </div>
                                }
                            </div>
                            <div class="project-details row">
                                <div class="col-12">
                                    @if (projectControl.Project.Highlights.Any())
                                    {
                                        <div class="project-details-title">@(String.IsNullOrEmpty(projectControl.Project.Subtitle) ? "Highlights" : @projectControl.Project.Subtitle)</div>
                                        <ul class="project-highlights">
                                            @foreach (string highlight in projectControl.Project.Highlights)
                                            {
                                                <li>@((MarkupString)highlight)</li>
                                            }
                                        </ul>
                                    }
                                </div>
                                <div class="col-12">
                                    @if (projectControl.Project.Technologies.Any())
                                    {
                                        <div class="project-details-title">Technologies</div>
                                        @foreach (string technology in projectControl.Project.Technologies)
                                        {
                                            <span class="badge badge-dark">@technology</span>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    private MetaEntity Meta { get; set; } = new MetaEntity()
    {
        Title = "Projects",
        Canoncial = "devin.biz/projects"
    };

    private class ProjectControlEntity
    {
        public ProjectEntity Project { get; private set; }
        public int CurrentImageIndex { get; set; } = 0;

        public ProjectControlEntity(ProjectEntity project)
        {
            Project = project;
        }
    }

    private IEnumerable<ProjectControlEntity> ProjectControls { get; set; }

    protected override void OnInitialized()
    {
        PopulateProjectControls();

        base.OnInitialized();
    }

    private void PopulateProjectControls()
    {
        ICollection<ProjectControlEntity> projectControls = new List<ProjectControlEntity>();

        foreach (ProjectEntity project in Web.Projects.History)
        {
            projectControls.Add(new ProjectControlEntity(project));
        }

        ProjectControls = projectControls;
    }

    private void NavigateNextImage(ProjectControlEntity projectControl)
    {
        projectControl.CurrentImageIndex++;

        if (projectControl.CurrentImageIndex == projectControl.Project.ProjectImages.Count())
        {
            projectControl.CurrentImageIndex = 0;
        }
    }

    private void NavigatePreviousImage(ProjectControlEntity projectControl)
    {
        projectControl.CurrentImageIndex--;

        if (projectControl.CurrentImageIndex == -1)
        {
            projectControl.CurrentImageIndex = projectControl.Project.ProjectImages.Count() - 1;
        }
    }
}