﻿@page "/skills"

<MetaActor Meta="Meta" />

<div class="skills-view">
    <div class="skills">
        <div class="container">
            <div class="row row-height-equal skills">
                @foreach (SkillCategoryEntity skillCategory in SkillCategories)
                {
                    <div class="col-12 col-md-6">
                        <div class="skill-category">
                            <div class="skill-category-title">@skillCategory.Category</div>
                            <table class="table table-striped skill-table">
                                <tbody>
                                    @foreach (SkillEntity skill in skillCategory.Skills)
                                    {
                                        int skillExperienceMonths = skill.GetExperienceMonths();

                                        <tr id="skill-@skill.ID" class="skill @(skillExperienceMonths >= Web.Skills.Levels.MasterMonths ? "skill-master" : skillExperienceMonths >= Web.Skills.Levels.ExpertMonths ? "skill-expert" : skillExperienceMonths >= Web.Skills.Levels.JourneymanMonths ? "skill-journeyman" : "skill-apprentice")">
                                            <td class="skill-icon-column">
                                                @if (skill.HasIcon)
                                                {
                                                    <img class="skill-icon" src="@skill.IconURL" alt="@skill.Name"/>
                                                }
                                            </td>
                                            <td class="skill-name-column">
                                                @if (String.IsNullOrEmpty(skill.SourceURL))
                                                {
                                                    @skill.Name
                                                }
                                                else
                                                {
                                                    <a class="skill-name" href="@skill.SourceURL" target="_blank">@skill.Name</a>
                                                }
                                                @if (!String.IsNullOrEmpty(skill.Version))
                                                {
                                                    <span class="skill-version">@($"v{skill.Version}")</span>
                                                }
                                            </td>
                                            <td class="skill-time-column">@(skillExperienceMonths > 11 ? $"{(skillExperienceMonths / 12)} yr" : $"{skillExperienceMonths} mo")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                 }
            </div>
        </div>
    </div>
</div>

@code {
    private MetaEntity Meta { get; set; } = new MetaEntity()
    {
        Title = "Skills",
        Canoncial = "devin.biz/skills"
    };

    private class SkillCategoryEntity
    {
        public ICollection<SkillEntity> Skills { get; set; }
        public string Category { get; set; }
    }

    private IEnumerable<SkillCategoryEntity> SkillCategories { get; set; }

    protected override void OnInitialized()
    {
        PopulateSkillCategories();

        base.OnInitialized();
    }

    private void PopulateSkillCategories()
    {
        ICollection<SkillCategoryEntity> skillCategories = new List<SkillCategoryEntity>();

        foreach (SkillEntity skill in Web.Skills.History)
        {
            SkillCategoryEntity skillCategory = skillCategories.SingleOrDefault(x => x.Category == skill.Category);

            if (skillCategory == null)
            {
                skillCategories.Add(new SkillCategoryEntity()
                {
                    Skills = new List<SkillEntity>()
                    {
                        skill
                    },
                    Category = skill.Category
                });
            }
            else
            {
                skillCategory.Skills.Add(skill);
            }
        }

        SkillCategories = skillCategories.OrderByDescending(x => x.Skills.Count());
    }
}