@import "Variables.less";

a:hover {
    text-decoration: none;
    transition-duration: .5s;
    filter: brightness(1.25);
}

a {
    transition-duration: .5s;
}

a.link-dark:hover {
    filter: brightness(.75);
}

.view-title {
    margin: 0 15px;

    @media @sm-at-least {
        border-bottom: 5px solid @secondary-color;
        padding-left: 0;
    }

    @media @xs-only {
        padding: 0;
        border-bottom: 3px solid @secondary-color;
    }
}

.view-title h1 {
    text-transform: uppercase;
    color: @secondary-color;
    font-weight: bold;

    @media @sm-at-least {
        font-size: 2rem;
    }

    @media @xs-only {
        font-size: 1.5rem;
    }
}

.badge {
    padding: 6px 10px;
    font-weight: 400;
    margin: 0 5px 5px 0;

    @media @sm-at-least {
        font-size: 1rem;
    }

    @media @xs-only {
        font-size: .9rem;
    }
}

.row-height-equal {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row-height-equal:after, .row-height-equal:before {
    display: block;
}

.row-height-equal > [class*='col'] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.row-height-equal > [class*='col'] > * {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}