@dark-background: #343a40;
@medium-dark-background: #454545;
@neutral-background: #6c757d;
@medium-light-background: #ababab;
@light-background: #eeeedd;

@primary-color: #007bff;
@secondary-color: #2e87e6;
@third-color: #00ff84;
@fourth-color: #009966;

@information-color: #17a2b8;
@success-color: #28a745;
@warning-color: #ffc107;
@error-color: #dc3545;

@panel-background: #dddddd;
@panel-title-background: @secondary-color;
@panel-title-color: #ffffff;
@panel-subtitle-color: #ffffff; 

@min-width: 320px;
@screen-xs-max: 575.98px;
@screen-sm-min: 576px;
@screen-sm-max: 767.98px;
@screen-md-min: 768px;
@screen-md-max: 991.98px;
@screen-lg-min: 992px;

@xs-only: ~"only screen and (max-width: @{screen-xs-max})";
@sm-at-least: ~"only screen and (min-width: @{screen-sm-min})";
@sm-only: ~"only screen and (min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})";
@sm-at-most: ~"only screen and (max-width: @{screen-sm-max})";
@md-at-least: ~"only screen and (min-width: @{screen-md-min})";
@md-only: ~"only screen and (min-width: @{screen-md-min}) and (max-width: @{screen-md-max})";
@md-at-most: ~"only screen and (max-width: @{screen-md-max})";
@lg-only: ~"only screen and (min-width: @{screen-lg-min})";