<style lang="less" scoped>
    @import "..\css\Variables.less";
    @import "..\css\Animation.less"; 

    .employment {
        background-color: @panel-background;
        border-radius: 5px;
    }

    .employment-info {
        padding: 10px 0;
        margin: 0;
        background-color: @panel-title-background;
        border-radius: 5px 5px 0 0;
    }

    .employment-info-avatar {
        margin-right: -15px;
    }

    .employment-info-avatar img {
        border: 2px solid @neutral-background;
    }

    .employment-info-title {
        font-weight: 800;
        color: @panel-title-color;
    }

    .employment-info-company a {
        color: @panel-title-color;
    }

    .employment-info-dates, .employment-info-location, .employment-info-company {
        font-weight: bold;
        color: @panel-subtitle-color;
    }

    .employment-details {
        padding: 0 15px 15px;
        font-weight: 500;
    }

    .employment-details-title {
        color: @secondary-color;
        font-weight: bold;
        text-transform: uppercase;
        margin: 15px 0 5px;
    }

    .employment-responsibilities {
        padding-left: 20px;
    }

    @media @xs-only{
        .employment-container {
            margin-top: 15px;
        }

        .employment-info-title {
            font-size: 1rem;
        }

        .employment-info-avatar {
            display: none;
        }

        .employment-info-dates, .employment-info-location, .employment-responsibilities, .badge {
            font-size: .9rem;
        }
    }

    @media @sm-only {
        .employment-container {
            margin-top: 25px;
        }

        .employment-info-title {
            font-size: 1.2rem;
        }

        .employment-info-avatar img {
            width: 105px;
            height: 105px;
        }

        .employment-details-title {
            font-size: 1.2rem;
        }
    }

    @media @md-at-least {
        .employment-container {
            margin-top: 25px;
        }

        .employment-info-title {
            font-size: 1.5rem;
        }

        .employment-info-avatar img {
            width: 115px;
            height: 115px;
        }

        .employment-details-title {
            font-size: 1.4rem;
        }
    }
</style>

<template>
    <div class="experience">
        <div class="container">
            <div class="row">
                <div class="col view-title">
                    <h1>Experience</h1>
                </div>
            </div>
            <div class="row employments">
                <div class="col-12 employment-container" v-for="employment in employments" :key="employment.id">
                    <div class="employment" :id="'employment-' + employment.id">
                        <div class="employment-info row">
                            <div class="employment-info-avatar col-auto">
                                <img v-if="employment.companyUrl == null" :src="employment.companyAvatarUrl" :alt="employment.company" />
                                <a class="link-dark" v-else :href="employment.companyUrl" target="_blank">
                                    <img :src="employment.companyAvatarUrl" :alt="employment.company" />
                                </a>
                            </div>
                            <div class="employment-info-summary col-auto">
                                <div class="employment-info-title">{{employment.title}}</div>
                                <div class="employment-info-company">
                                    <span v-if="employment.companyUrl == null">{{employment.company}}</span> 
                                    <a class="link-dark" v-else :href="employment.companyUrl" target="_blank">{{employment.company}}</a> &middot; {{employment.employmentType}}
                                </div>
                                <div v-if="employment.endDate == null" class="employment-info-dates">{{employment.startDate | dateFormat("MMM YYYY")}} - Present</div>
                                <div v-else class="employment-info-dates">{{employment.startDate | dateFormat("MMM YYYY")}} - {{employment.endDate | dateFormat("MMM YYYY")}}</div>
                                <div class="employment-info-location">{{employment.location}}</div>
                            </div>
                        </div>
                        <div class="employment-details">
                            <div v-if="employment.responsibilities.length > 0">
                                <div class="employment-details-title">Accomplishments</div>
                                <ul class="employment-responsibilities">
                                    <li v-for="responsibility in employment.responsibilities" :key="responsibility" v-html="responsibility"></li>
                                </ul>
                            </div>
                            <div class="row">
                                <div v-if="employment.technologies.length > 0 || employment.tools.length > 0 || employment.concepts.length > 0" class="col-12 col-lg-6">
                                    <div v-if="employment.technologies.length > 0">
                                        <div class="employment-details-title">Technologies</div>
                                        <span class="badge badge-dark" v-for="technology in employment.technologies" :key="technology">
                                            {{technology}}
                                        </span>
                                    </div>
                                    <div v-if="employment.tools.length > 0">
                                        <div class="employment-details-title">Tools</div>
                                        <span class="badge badge-dark" v-for="tool in employment.tools" :key="tool">
                                            {{tool}}
                                        </span>
                                    </div>
                                    <div v-if="employment.concepts.length > 0">
                                        <div class="employment-details-title">Concepts</div>
                                        <span class="badge badge-dark" v-for="concept in employment.concepts" :key="concept">
                                            {{concept}}
                                        </span>
                                    </div>
                                </div>
                                <div v-if="getProjectsFromEmployment(employment).length > 0" class="col-12 col-lg-6">
                                    <div class="employment-details-title">Projects</div>
                                    <ProjectPanel :project="project" v-for="project in getProjectsFromEmployment(employment)" :key="project.id" columnClass="col-12 no-padding" isList="true"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Vue, Component } from "vue-property-decorator";
    import { EmploymentEntity } from "@/entities/EmploymentEntity";
    import { ProjectEntity } from "@/entities/ProjectEntity";
    import { Constants } from "@/constants/Constants";
    import ProjectPanel from "@/components/ProjectPanel.vue";

    @Component({
        components: {
            ProjectPanel
        }
    })
    export default class Experience extends Vue {
        employments: Array<EmploymentEntity> = Constants.employments;
        projects: Array<ProjectEntity> = Constants.projects;

        getProjectsFromEmployment(employment: EmploymentEntity): Array<ProjectEntity> {
            const employmentProjects: Array<ProjectEntity> = new Array<ProjectEntity>();

            for (let i = 0; i < this.projects.length; i++) {
                if (this.projects[i].employmentCompanyId === employment.id) {
                    employmentProjects.push(this.projects[i]);
                }
            }

            return employmentProjects;
        }
    }
</script>
