<style lang="less" scoped>
    @import "..\css\Variables.less";

    .error-container {
        padding: 25px 15px;
    }

    .error-description {
        font-weight: 500;
    }

    .error-return-button {
        margin-top: 15px;
    }

    @media @xs-only {
        .error-container, .error-return-button {
            font-size: .9rem;
        }
    }
</style>

<template >
    <div class="not-found">
        <div class="container">
            <div class="row">
                <div class="col view-title">
                    <h1>Not Found</h1>
                </div>
            </div>
            <div class="row">
                <div class="col error-container">
                    <div class="error-description">Not sure how you got here, but I can't find what you were looking for.</div>
                    <router-link to="/" class="btn btn-primary error-return-button">Return to Home</router-link>
                </div>
            </div>
        </div>
    </div>
</template >

<script lang="ts">
    import { Vue, Component } from "vue-property-decorator";

    @Component
    export default class NotFound extends Vue {
       
    }
</script>