<style lang="less" scoped>
    @import "..\css\Variables.less";

    .project {
        background-color: @panel-background;
        border-radius: 5px;
    }

    .project-info {
        padding: 10px 0;
        margin: 0;
        background-color: @panel-title-background;
        border-radius: 5px 5px 0 0;
        font-weight: bold;
        color: @panel-title-color;
        text-align: center;
    }

    .project-info a {
        color: @panel-title-color;
    }

    .project-images {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: .5s;
        background-color: @medium-light-background;
    }

    .project-images-navigation {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .project-images-navigation-button {
        cursor: pointer;
        color: @dark-background;
        opacity: .8;
        transition: .5s;
        padding: 0 10px;
    }

    .project-images-navigation-button:hover {
        color: @third-color;
        transition: .5s;
        padding: 0 5px;
    }

    .project-images-navigate-next {
        float: right;
    }

    .project-details {
        padding: 0 15px 15px;
        font-weight: 500;
    }

    .project-details-title {
        color: @secondary-color;
        font-weight: bold;
        text-transform: uppercase;
        margin: 15px 0 5px;
    }

    .project-highlights {
        padding-left: 20px;
    }

    .project-visit-button {
        float: right;
    }

    @media @xs-only {
        .project-container {
            margin-top: 15px;
        }

        .project-info {
            font-size: 1rem;
        }

        .project-images {
            height: 250px;
        }

        .project-images-navigation-button {
            font-size: 1.5rem;
        }

        .project-highlights, .project-visit-button .btn, .badge, .project-summary {
            font-size: .9rem;
        }

        .project-application-type {
            display: none;
        }
    }

    @media @sm-only {
        .project-container {
            margin-top: 25px;
        }

        .project-info {
            font-size: 1.2rem;
        }

        .project-images {
            height: 325px;
        }

        .project-images-navigation-button {
            font-size: 2rem;
        }

        .project-details-title {
            font-size: 1.2rem;
        }
    }

    @media @md-at-least {
        .project-container {
            margin-top: 25px;
        }

        .project-info {
            font-size: 1.5rem;
        }

        .project-images-navigation-button {
            font-size: 2.5rem;
        }

        .project-details-title {
            font-size: 1.4rem;
        }
    }

    @media @md-only {
        .project-images {
            height: 400px;
        }
    }

    @media @lg-only {
        .project-images {
            height: 500px;
        }
    }
</style>

<template >
    <div class="projects">
        <div class="container">
            <div class="row">
                <div class="col view-title">
                    <h1>Projects</h1>
                </div>
            </div>
            <div class="row projects">
                <div class="col-12 project-container" v-for="projectControl in projectControls" :key="projectControl.project.id">
                    <div class="project" :id="'project-' + projectControl.project.id">
                        <div class="project-info">
                            <div class="col">
                                <span v-if="projectControl.project.projectUrl == null">{{projectControl.project.name}}</span>
                                <a v-else :href="projectControl.project.projectUrl" class="link-dark">{{projectControl.project.name}}</a>
                            </div>
                        </div>
                        <div class="project-images" :style="'background-image: url(' + projectControl.project.projectImages[projectControl.currentImageIndex] + ')'">
                            <div v-if="projectControl.project.projectImages.length > 1" class="project-images-navigation project-images-navigate-next">
                                <i class="fa fa-chevron-right project-images-navigation-button" v-on:click="navigateNextImage(projectControl)"></i>
                            </div>
                            <div v-if="projectControl.project.projectImages.length > 1" class="project-images-navigation project-images-navigate-previous">
                                <i class="fa fa-chevron-left project-images-navigation-button" v-on:click="navigatePreviousImage(projectControl)"></i>
                            </div>
                        </div>
                        <div class="project-details row">
                            <div class="col-12 col-lg-6">
                                <div class="project-details-title">Summary</div>
                                <div class="project-visit-button">
                                    <button v-if="projectControl.project.projectUrl == null" class="btn btn-light" disabled>Site Offline</button>
                                    <a v-else class="btn btn-primary" :href="projectControl.project.projectUrl" target="_blank">Visit Site</a>
                                </div>
                                <span class="project-summary">
                                    {{projectControl.project.company}}<span class="project-application-type"> {{projectControl.project.applicationType}}</span><br />
                                    {{projectControl.project.startDate | dateFormat("MMM YYYY")}} -
                                    <span v-if="projectControl.project.endDate == null">Present</span>
                                    <span v-else>{{projectControl.project.endDate | dateFormat("MMM YYYY")}}</span>
                                </span>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div v-if="projectControl.project.technologies.length > 0">
                                    <div class="project-details-title">Technologies</div>
                                    <span class="badge badge-dark" v-for="technology in projectControl.project.technologies" :key="technology">
                                        {{technology}}
                                    </span>
                                </div>
                            </div>
                            <div v-if="projectControl.project.highlights.length > 0" class="col-12">
                                <div v-if="projectControl.project.highlights.length > 0">
                                    <div class="project-details-title">Highlights</div>
                                    <ul class="project-highlights">
                                        <li v-for="highlight in projectControl.project.highlights" :key="highlight" v-html="highlight"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Vue, Component } from "vue-property-decorator";
    import { ProjectEntity } from "@/entities/ProjectEntity";
    import { Constants } from "@/constants/Constants";

    class ProjectControlEntity {
        project: ProjectEntity;
        currentImageIndex = 0;

        constructor(project: ProjectEntity) {
            this.project = project;
        }
    }

    @Component
    export default class Projects extends Vue {
        projectControls: Array<ProjectControlEntity> = new Array<ProjectControlEntity>();

        beforeMount(): void {
            this.populateProjectControls();
        }

        private populateProjectControls(): void {
            for (let i = 0; i < Constants.projects.length; i++) {
                this.projectControls.push(new ProjectControlEntity(Constants.projects[i]));
            }
        }

        navigateNextImage(projectControl: ProjectControlEntity): void {
            projectControl.currentImageIndex++;

            if (projectControl.currentImageIndex === projectControl.project.projectImages.length) {
                projectControl.currentImageIndex = 0;
            }
        }

        navigatePreviousImage(projectControl: ProjectControlEntity): void {
            projectControl.currentImageIndex--;

            if (projectControl.currentImageIndex === -1) {
                projectControl.currentImageIndex = projectControl.project.projectImages.length - 1;
            }
        }
    }
</script>
