<style lang="less" scoped>
    @import "..\css\Variables.less";

    .skill-category {
        background: @panel-background;
        border-radius: 5px;
    }

    .skill-category-title {
        color: @panel-title-color;
        background: @panel-title-background;
        padding: 10px 0;
        text-align: center;
        border-radius: 5px 5px 0 0;
        font-weight: bold;
    }

    .skill-table {
        margin-bottom: 0;
        font-weight: bold;
    }

    .skill-time {
        text-align: right;
    }

    .skill-name {
        color: inherit;
    }

    .skill-master .skill-time {
        color: @primary-color;
    }

    .skill-expert .skill-time {
        color: @secondary-color;
    }

    .skill-journeyman .skill-time {
        color: @fourth-color;
    }

    .skill-apprentice .skill-time {
        color: @neutral-background;
    }

    .skill-version {
        padding-left: 5px;
        color: @neutral-background;
    }

    @media @xs-only {
        .skill-category {
            margin-top: 15px;
        }

        .skill-category-title {
            font-size: 1rem;
        }

        .skill-table td {
            padding: 3px 6px;
            font-size: .9rem;
        }
    }

    @media @sm-only {
        .skill-category {
            margin-top: 25px;
        }

        .skill-category-title {
            font-size: 1.1rem;
        }

        .skill-table td {
            padding: 4px 8px;
            font-size: 1rem;
        }
    }

    @media @md-at-least {
        .skill-category {
            margin-top: 25px;
        }

        .skill-category-title {
            font-size: 1.2rem;
        }

        .skill-table td {
            padding: 5px 10px;
            font-size: 1.1rem;
        }
    }
</style>

<template >
    <div class="skills">
        <div class="container">
            <div class="row">
                <div class="col view-title">
                    <h1>Skills</h1>
                </div>
            </div>
            <div class="row row-height-equal skills">
                <div class="col-12 col-md-6" v-for="skillCategory in skillCategories" :key="skillCategory.category">
                    <div class="skill-category">
                        <div class="skill-category-title">{{skillCategory.category}}</div>
                        <table class="table table-striped skill-table">
                            <tbody>
                                <tr v-for="skill in skillCategory.skills" :key="skill.id" :id="'skill-' + skill.id"
                                    :class="['skill', {'skill-master' : skill.getExperienceMonths() >= 120}, {'skill-expert' : skill.getExperienceMonths() >= 60 && skill.getExperienceMonths() < 120}, {'skill-journeyman' : skill.getExperienceMonths() >= 24 && skill.getExperienceMonths() < 60}, {'skill-apprentice' : skill.getExperienceMonths() < 24} ]">
                                    <td>
                                        <span v-if="skill.sourceUrl == null">{{skill.name}}</span>
                                        <a v-else class="skill-name" :href="skill.sourceUrl" target="_blank">{{skill.name}}</a>
                                        <span v-if="skill.version != null" class="skill-version">v{{skill.version}}</span>
                                    </td>
                                    <td class="skill-time">{{skill.getExperienceMonths() > 11 ? Math.floor(skill.getExperienceMonths() / 12) + ' yr' : skill.getExperienceMonths() + ' mo'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template >

<script lang="ts">
    import { Vue, Component } from "vue-property-decorator";
    import { Constants } from "@/constants/Constants";
    import { SkillEntity } from "@/entities/SkillEntity";

    class SkillCategoryEntity {
        category: string;
        public skills = new Array<SkillEntity>();

        constructor(category: string) {
            this.category = category;
        }
    }

    @Component
    export default class Skills extends Vue {
        skillCategories: Array<SkillCategoryEntity> = new Array<SkillCategoryEntity>();

        beforeMount(): void {
            this.populateSkillCategories();
        }

        private populateSkillCategories(): void {
            for (let i = 0; i < Constants.skills.length; i++) {
                let skillCategory = this.getSkillCategory(Constants.skills[i].category);

                if (skillCategory == undefined) {
                    skillCategory = new SkillCategoryEntity(Constants.skills[i].category);
                    this.skillCategories.push(skillCategory);
                }

                skillCategory.skills.push(Constants.skills[i]);
            }

            this.skillCategories.sort((a, b) => b.skills.length - a.skills.length)
        }

        public getSkillCategory(category: string): SkillCategoryEntity | undefined {
            for (let i = 0; i < this.skillCategories.length; i++) {
                if (this.skillCategories[i].category == category) {
                    return this.skillCategories[i];
                }
            }

            return undefined;
        }
    }
</script>