﻿.app-loading {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #454545;
  min-width: 320px;
  transition: 1s;
}
.app-loading-spinner {
  top: 10%;
  position: absolute;
  left: 50%;
}
.app-loading-error {
  color: white;
  font-size: 1.2rem;
  margin: 10% auto;
  max-width: 600px;
}
.app-loading-spinner-block {
  width: 36px;
  height: 36px;
  border-radius: 3px;
  transform: rotate(45deg);
  position: absolute;
  animation-duration: 6s;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  /* Safari and Chrome: */
  -webkit-animation-duration: 6s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-direction: normal;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
}
.app-loading-spinner-block-1 {
  background-color: #ff9900;
  animation-name: Block1;
  /* Safari and Chrome: */
  -webkit-animation-name: Block1;
}
@keyframes Block1 {
  0% {
    top: 0px;
    left: 0px;
  }
  8.33% {
    top: 30px;
    left: 30px;
  }
  25% {
    top: 30px;
    left: 30px;
  }
  33.33% {
    top: 60px;
    left: 0px;
  }
  50% {
    top: 60px;
    left: 0px;
  }
  58.33% {
    top: 30px;
    left: -30px;
  }
  75% {
    top: 30px;
    left: -30px;
  }
  83.33% {
    top: 0px;
    left: 0px;
  }
}
@-webkit-keyframes Block1 {
  /* Safari and Chrome */
  0% {
    top: 0px;
    left: 0px;
  }
  8.33% {
    top: 30px;
    left: 30px;
  }
  25% {
    top: 30px;
    left: 30px;
  }
  33.33% {
    top: 60px;
    left: 0px;
  }
  50% {
    top: 60px;
    left: 0px;
  }
  58.33% {
    top: 30px;
    left: -30px;
  }
  75% {
    top: 30px;
    left: -30px;
  }
  83.33% {
    top: 0px;
    left: 0px;
  }
}
.app-loading-spinner-block-2 {
  background-color: #007dff;
  animation-name: Block2;
  /* Safari and Chrome: */
  -webkit-animation-name: Block2;
}
@keyframes Block2 {
  0% {
    top: 60px;
    left: 0px;
  }
  16.66% {
    top: 60px;
    left: 0px;
  }
  25% {
    top: 30px;
    left: -30px;
  }
  41.66% {
    top: 30px;
    left: -30px;
  }
  50% {
    top: 0px;
    left: 0px;
  }
  66.33% {
    top: 0px;
    left: 0px;
  }
  75% {
    top: 30px;
    left: 30px;
  }
  91.66% {
    top: 30px;
    left: 30px;
  }
  100% {
    top: 60px;
    left: 0px;
  }
}
@-webkit-keyframes Block2 {
  /* Safari and Chrome */
  0% {
    top: 60px;
    left: 0px;
  }
  16.66% {
    top: 60px;
    left: 0px;
  }
  25% {
    top: 30px;
    left: -30px;
  }
  41.66% {
    top: 30px;
    left: -30px;
  }
  50% {
    top: 0px;
    left: 0px;
  }
  66.33% {
    top: 0px;
    left: 0px;
  }
  75% {
    top: 30px;
    left: 30px;
  }
  91.66% {
    top: 30px;
    left: 30px;
  }
  100% {
    top: 60px;
    left: 0px;
  }
}
.app-loading-spinner-block-3 {
  background-color: #00ff8b;
  animation-name: Block3;
  /* Safari and Chrome: */
  -webkit-animation-name: Block3;
}
@keyframes Block3 {
  0% {
    top: 30px;
    left: -30px;
  }
  8.33% {
    top: 30px;
    left: -30px;
  }
  16.66% {
    top: 0px;
    left: 0px;
  }
  33.33% {
    top: 0px;
    left: 0px;
  }
  41.66% {
    top: 30px;
    left: 30px;
  }
  58.33% {
    top: 30px;
    left: 30px;
  }
  66.33% {
    top: 60px;
    left: 0px;
  }
  83.33% {
    top: 60px;
    left: 0px;
  }
  91.66% {
    top: 30px;
    left: -30px;
  }
  100% {
    top: 30px;
    left: -30px;
  }
}
@-webkit-keyframes Block3 {
  /* Safari and Chrome */
  0% {
    top: 30px;
    left: -30px;
  }
  8.33% {
    top: 30px;
    left: -30px;
  }
  16.66% {
    top: 0px;
    left: 0px;
  }
  33.33% {
    top: 0px;
    left: 0px;
  }
  41.66% {
    top: 30px;
    left: 30px;
  }
  58.33% {
    top: 30px;
    left: 30px;
  }
  66.33% {
    top: 60px;
    left: 0px;
  }
  83.33% {
    top: 60px;
    left: 0px;
  }
  91.66% {
    top: 30px;
    left: -30px;
  }
  100% {
    top: 30px;
    left: -30px;
  }
}